.simpledraw {
    margin-bottom: 20px;
}
.simpledraw canvas {
    border: 1px solid #CCCCCC;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}
.simpledraw .canvas-container,
.submit-btn {
    text-align: center;
}

.simpledraw .btn-row,
.simpledraw .date {
    margin: 10px;
    text-align: right;
}
.simpledraw h3 {
    margin: 10px;
}
.simpledraw .btn-row>a {
    padding-left: 10px;
}
.simpledraw .image {
    text-align: center;
    margin: 0px 10px;
}
.simpledraw .image>img {
    border: 1px solid #CCCCCC;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}
.simpledraw .form-bg {
    background-color: #F9F9F9;
    border-radius: 5px;
    border: 1px solid #F0F0F0;
    padding: 10px 20px;
}

.simpledraw .f-left {
    float: left;
    width: calc(40% - 20px);
    max-width: 250px;
    margin-right: 20px;
    border: none;
}
.simpledraw .f-right {
    float: left;
    width: 60%;
    border: none;
}
.simpledraw .f-left-50 {
    float: left;
    width: calc(50% - 15px);
    margin-right: 15px;
}
 .simpledraw .f-right-50 {
    float: left;
    width: calc(50% - 15px);
    margin-left: 15px;
 }

.simpledraw-form-group {
    margin-bottom: 15px;
}
.simpledraw-form-group label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="range"].simpledraw-form-control {
    display: block;
    width: 100%;
}
input[type=text].simpledraw-form-control, input[type=password].simpledraw-form-control {
    margin: inherit 4px;
    padding: 0 4px;
    border: 1px solid #ccd5db;
    border-radius: 2px;
    background: #fff;
    outline: 0;
}
.simpledraw-form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
