.clear {
    height: 0;
    clear: both;
}
.simpledraw-alert {
    border: none;
    padding: 15px;
    margin-bottom: 20px;
}
.simpledraw-alert>p {
    margin-bottom: 0;
    margin-top: 0;
}
.simpledraw-alert.success {
    color: #3c763d;
    background-color: #dff0d8;
}
.simpledraw-alert.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
}
.simpledraw-alert.info {
    color: #31708f;
    background-color: #d9edf7;
}
.simpledraw-alert.danger {
    color: #a94442;
    background-color: #f2dede;
}

.simpledraw-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.simpledraw-btn:hover, .simpledraw-btn:active, .simpledraw-btn:focus {
    text-shadow: none!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    outline: none!important;
}
.simpledraw-btn.green {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.simpledraw-btn.red {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.simpledraw-btn.gray {
    color: #fff;
    background-color: #C0C0C0;
    border-color: #B9B9B9;
}
.simpledraw-btn.green:hover, .simpledraw-btn.green:focus, .simpledraw-btn.green:active {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.simpledraw-btn.red:hover, .simpledraw-btn.red:focus, .simpledraw-btn.red:active {
    color: #fff;
    background-color: #e9635f;
    border-color: #f45f5a;
}
.simpledraw-btn.gray:hover, .simpledraw-btn.gray:focus, .simpledraw-btn.gray:active {
    color: #fff;
    background-color: #CCCCCC;
    border-color: #C0C0C0;
}