html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
@font-face {
  font-family: Geometria;
  font-display: swap;
  font-stretch: normal;
  src: url("/f/fonts/Geometria/geometria.woff2") format("woff2"), url("/f/fonts/Geometria/geometria.woff") format("woff");
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  font-family: 'Geometria', 'Verdana', sans-serif;
}
sup {
  vertical-align: super;
  font-size: 0.6em;
}
aside,
main,
section,
header,
footer {
  display: block;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  max-width: 100%;
}
button:active,
button:focus,
input:active,
input:focus,
a:active,
a:focus {
  outline: none;
}
.blue-button {
  display: inline-block;
  background-color: #233893;
  padding: 15px 30px;
  font-size: 18px;
  color: #fff;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 1064px) {
  .blue-button {
    font-size: 12px;
    padding: 6px 12px;
  }
}
.white-button {
  display: inline-block;
  background-color: #fff;
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 1064px) {
  .white-button {
    font-size: 12px;
    padding: 6px 12px;
  }
}
.buy-button {
  background-color: #233893;
  border: none;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
@media screen and (max-width: 1064px) {
  .buy-button {
    width: 44px;
    height: 44px;
  }
}
.buy-button:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 32px;
  height: 27px;
  background-image: url("/f/i/icons/basket.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
@media screen and (max-width: 1064px) {
  .buy-button:before {
    width: 28px;
    height: 26x;
  }
}
.button-catalog {
  position: relative;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 13px 30px 13px 64px;
  display: inline-block;
  cursor: pointer;
}
.button-catalog:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 20px;
  height: 24px;
  width: 24px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-image: url("/f/i/icons/catalog.svg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.bgc_elis {
  background-color: #f1f5fa;
}
.form-data {
  margin-bottom: 2px;
  position: relative;
  padding-bottom: 20px;
}
.form-data__input {
  font-size: 16px;
  border: none;
  outline: none;
  width: 100%;
  background-color: #fff;
}
.form-data__wrap {
  border: 1px solid #a3a3a3;
  border-radius: 3px;
  padding: 16px 20px;
  position: relative;
  background-color: #fff;
}
.form-data__title {
  font-size: 14px;
  color: #000;
  line-height: 18px;
  margin-bottom: 5px;
}
.form-data.data-error .form-data__wrap {
  border-color: #f00;
}
.form-data.data-error .form-data__error {
  display: block;
}
.form-data.data-error .form-data__checkbox + label:before {
  border-color: #f00;
}
.form-data.data-ok .form-data__ok {
  display: block;
}
.form-data.data-ok .form-data__ok i {
  color: #3cd828;
}
.form-data__name-input {
  width: calc(100% - 30px);
  height: 50px;
  border: 1px solid #a3a3a3;
  background: #fff;
  z-index: 10;
  position: relative;
  padding: 0 14px;
  margin-bottom: 30px;
  display: none;
}
.form-data__name-input::-webkit-input-placeholder {
  color: #9aa2ab;
}
.form-data__name-input::-moz-placeholder {
  color: #9aa2ab;
}
.form-data__name-input:-moz-placeholder {
  color: #9aa2ab;
}
.form-data__name-input:-ms-input-placeholder {
  color: #9aa2ab;
}
.form-data__check-group {
  position: relative;
  background: #fff;
  z-index: 10;
  font-family: $GothamBook;
  font-size: 14px;
  color: #000;
}
.form-data__check-group label {
  display: inline-block;
  padding-bottom: 30px;
  cursor: pointer;
  position: relative;
  padding-left: 36px;
  margin-right: 30px;
}
.form-data__check-group label:last-child {
  margin-right: 0;
}
.form-data__check-group label span {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  top: -7px;
  left: 0px;
  border: 2px solid #a3a3a3;
}
.form-data__check-group label span:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #fff;
  width: 15px;
  border-radius: 50%;
  height: 15px;
}
.form-data__check-group label input {
  display: none;
}
.form-data__check-group label input:checked + span:after {
  background: #000;
}
.form-data__wrap-images {
  position: relative;
}
.form-data__wrap-images:before {
  content: '';
  width: 15px;
  height: 13px;
  position: absolute;
  left: 15px;
  top: 15px;
  background-image: $url("/f/i/icons/comment.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  z-index: 9;
}
.form-data__wrap_withplaceholder {
  padding: 24px 20px 5px 18px;
  cursor: pointer;
}
.form-data__wrap_date {
  padding: 24px 40px 5 18px;
}
.form-data__wrap_date:after {
  content: '';
  position: absolute;
  background: url("/f/i/popup_online-consult/calendar.svg") no-repeat center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  width: 29px;
  height: 28px;
  top: 10px;
  right: 13px;
}
.form-data__placeholder {
  position: absolute;
  top: calc(50% - 6px);
  line-height: 12px;
  font-size: 11px;
  letter-spacing: -0.2px;
  font-family: $GothamPro;
  color: #9f9f9f;
  left: 18px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.form-data__input_withplaceholder {
  font-size: 14px;
}
.form-data__input_withplaceholder:focus ~ .form-data__placeholder,
.form-data__input_withplaceholder.noempty ~ .form-data__placeholder {
  top: 9px;
}
.form-data__textarea {
  width: 100%;
  border: none;
  resize: none;
  font-size: 15px;
}
.form-data__error {
  display: none;
  font-size: 12px;
  color: #f00;
  line-height: 18px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.form-data__hint {
  font-size: 12px;
  color: #22222b;
  line-height: 18px;
  margin-top: 2px;
}
.form-data__half {
  width: 47%;
}
.form-data__half:nth-child(odd) {
  float: left;
}
@media screen and (max-width: 767px) {
  .form-data__half:nth-child(odd) {
    width: 100%;
    float: none;
  }
}
.form-data__half:nth-child(even) {
  float: right;
}
@media screen and (max-width: 767px) {
  .form-data__half:nth-child(even) {
    width: 100%;
    float: none;
  }
}
.form-data__label-file:before {
  content: '';
  background-image: $url('/f/i/paris/clip.svg');
  width: 14px;
  height: 14px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  display: inline-block;
}
.form-data__file {
  width: 0;
  height: 0;
  overflow: hidden;
}
.form-data__link-file {
  font-size: 14px;
  color: #233893;
  text-decoration: none;
  border-bottom: 1px dashed #233893;
  cursor: pointer;
}
.form-data__link-file:hover {
  text-decoration: none;
  border-bottom: none;
}
.form-data__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  margin: 10px 0 0 20px;
}
.form-data__checkbox + label {
  position: relative;
  padding: 0 0 0 25px;
  cursor: pointer;
  color: #000;
  line-height: 20px;
  font-size: 14px;
}
.form-data__checkbox + label:before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  border: 1px solid #a3a3a3;
  background: #fff;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}
.form-data__checkbox:checked + label:after {
  content: '';
  background-image: url("/f/i/icons/tick.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 12px;
  height: 12px;
  display: block;
  position: absolute;
  top: 2px;
  left: 4px;
}
.form-data__checkbox + label.form-data__checkbox-label_small {
  font-size: 13px;
  letter-spacing: -0.2px;
}
.form-data__checkbox + label.form-data__checkbox-label_small a {
  text-decoration: none;
  color: #233893;
}
.form-data__checkbox + label.form-data__checkbox-label_small:before {
  top: -8px;
}
.form-data__checkbox + label.form-data__checkbox-label_small:after {
  top: -4px;
}
.form-data__label {
  font-family: $GothamBook;
}
.form-data__dropdown {
  max-height: 234px;
  width: 100%;
  left: 0;
  top: 55px;
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 9999;
  overflow-y: scroll;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
}
.form-data__drop-item {
  font-size: 12px;
  padding: 5px 0 5px 5px;
  margin: 0 -5px;
  cursor: pointer;
  color: #000;
}
.form-data__drop-item:hover {
  background-color: #233893;
  color: #fff;
}
.form-data__close-file {
  cursor: pointer;
}
.form-data__close-file i:before {
  color: #233893;
}
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.advantages {
  margin-bottom: 57px;
}
@media screen and (max-width: 1064px) {
  .advantages {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1064px) {
  .advantages {
    margin-bottom: 26px;
  }
}
.advantages__inner {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
@media screen and (max-width: 1064px) {
  .advantages__inner {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: block;
  }
}
.advantages__item {
  width: 23.6%;
  border-radius: 5px;
  position: relative;
  background-color: #233893;
  padding: 20px 20px 50px 80px;
  overflow: hidden;
  display: block;
  white-space: normal;
}
@media screen and (max-width: 1319px) {
  .advantages__item {
    padding: 20px 20px 40px 60px;
  }
}
@media screen and (max-width: 1064px) {
  .advantages__item {
    padding: 10px 20px 30px 50px;
    display: inline-block;
    width: 224px;
    margin-right: 10px;
  }
}
.advantages__title {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  min-height: 70px;
  display: block;
}
@media screen and (max-width: 1319px) {
  .advantages__title {
    font-size: 13px;
    line-height: 17px;
    min-height: 50px;
  }
}
@media screen and (max-width: 1064px) {
  .advantages__title {
    min-height: 50px;
  }
}
.advantages__link {
  position: absolute;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  display: block;
}
@media screen and (max-width: 1319px) {
  .advantages__link {
    font-size: 10px;
  }
}
@media screen and (max-width: 1064px) {
  .advantages__link {
    bottom: 0;
  }
}
.advantages__circle {
  position: absolute;
  top: 50%;
  left: -105px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 170px;
  width: 170px;
  display: block;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
@media screen and (max-width: 1319px) {
  .advantages__circle {
    height: 120px;
    width: 120px;
    left: -70px;
  }
}
@media screen and (max-width: 1064px) {
  .advantages__circle {
    height: 100px;
    width: 100px;
    left: -60px;
  }
}
.advantages__circle.active {
  left: -60px;
}
.anim-num__inner {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  height: 100%;
}
.anim-num__wrap-numbers {
  padding: 56px 80px 56px 10px;
  position: relative;
}
@media screen and (max-width: 1319px) {
  .anim-num__wrap-numbers {
    padding: 20px 50px 20px 10px;
  }
}
.anim-num__article {
  display: none;
}
.anim-num__article.active {
  display: block;
}
.anim-num__item-number {
  text-align: right;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  width: 62px;
  height: 62px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  padding: 20px 0;
}
.anim-num__item-number.active {
  font-size: 60px;
  padding: 0;
}
.anim-num__blue {
  background-color: #233893;
  padding: 56px 80px;
  position: relative;
}
@media screen and (max-width: 1319px) {
  .anim-num__blue {
    padding: 30px 40px;
  }
}
.anim-num__title {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 25px;
  display: block;
  height: 80px;
  overflow: hidden;
}
@media screen and (max-width: 1319px) {
  .anim-num__title {
    font-size: 20px;
    line-height: 26px;
  }
}
.anim-num__description {
  color: #fff;
  font-size: 20px;
  margin-bottom: 60px;
  display: block;
  height: 80px;
  overflow: hidden;
}
@media screen and (max-width: 1319px) {
  .anim-num__description {
    font-size: 16px;
    height: 50px;
  }
}
.anim-num__tags {
  margin-bottom: 15px;
}
.anim-num__tags li {
  font-size: 16px;
  display: inline-block;
  color: #fff;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.anim-num__link-arrow {
  color: #fff;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  font-size: 16px;
}
.anim-num__line {
  top: 80px;
  height: 3px;
  position: absolute;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 1319px) {
  .anim-num__line {
    top: 50px;
  }
}
.anim-num__line_black {
  right: 0;
  width: 55px;
  background-color: #000;
}
@media screen and (max-width: 1319px) {
  .anim-num__line_black {
    width: 30px;
  }
}
.anim-num__line_white {
  left: 0;
  width: 36px;
  background-color: #fff;
}
@media screen and (max-width: 1319px) {
  .anim-num__line_white {
    width: 30px;
  }
}
.blogs {
  margin-bottom: 57px;
}
@media screen and (max-width: 1064px) {
  .blogs {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1064px) {
  .blogs {
    margin-bottom: 26px;
  }
}
.blogs__inner {
  position: relative;
}
.blogs__title {
  position: absolute;
  left: 50px;
  top: 65px;
  -webkit-transform: translateX(-50%) translateY(50%) rotateZ(-90deg);
  -moz-transform: translateX(-50%) translateY(50%) rotateZ(-90deg);
  -o-transform: translateX(-50%) translateY(50%) rotateZ(-90deg);
  -ms-transform: translateX(-50%) translateY(50%) rotateZ(-90deg);
  transform: translateX(-50%) translateY(50%) rotateZ(-90deg);
  font-size: 150px;
  color: #e8e8e8;
}
@media screen and (max-width: 1319px) {
  .blogs__title {
    font-size: 140px;
  }
}
.blogs__content {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.blogs__subscribe {
  width: 23%;
}
@media screen and (max-width: 1639px) {
  .blogs__subscribe {
    width: 28%;
  }
}
.blogs__anim-num {
  width: 55%;
  margin-right: 5%;
}
@media screen and (max-width: 1639px) {
  .blogs__anim-num {
    margin-right: 3%;
    width: 57%;
  }
}
.choice__inner {
  height: 670px;
  width: 1136px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  position: relative;
}
@media screen and (max-width: 1639px) {
  .choice__inner {
    width: 1004px;
    height: 592px;
  }
}
@media screen and (max-width: 1064px) {
  .choice__inner {
    width: 728px;
    height: 429px;
  }
}
.choice__point {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url("/f/i/icons/point.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  cursor: pointer;
}
@media screen and (max-width: 1064px) {
  .choice__point {
    width: 20px;
    height: 20px;
  }
}
.choice__point-living-1 {
  left: 8.2%;
  top: 36%;
}
.choice__point-living-2 {
  left: 53.4%;
  top: 22%;
}
.circles-pulse {
  border-radius: 50%;
  background-color: rgba(255,255,255,0.4);
  z-index: 7;
}
.circles-pulse__c1 {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.4);
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 8;
}
.circles-pulse__c2 {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.4);
  width: 60%;
  height: 60%;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 9;
}
.content {
  max-width: 1640px;
  margin: auto;
  padding: 0 20px;
}
@media screen and (max-width: 1639px) {
  .content {
    max-width: 1320px;
  }
}
@media screen and (max-width: 1319px) {
  .content {
    max-width: 1044px;
  }
}
@media screen and (max-width: 1064px) {
  .content {
    max-width: 768px;
  }
}
@media screen and (max-width: 767px) {
  .content {
    max-width: 100%;
  }
}
.count {
  background-color: #233893;
  width: 126px;
  height: 50px;
  border-radius: 30px;
  padding: 5px 6px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.count__minus,
.count__plus {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 32px;
  cursor: pointer;
}
.count__sum {
  text-align: center;
  font-size: 24px;
  background-color: transparent;
  border: none;
  color: #fff;
  width: 50px;
}
.count.no-active {
  padding: 0;
  height: 0;
  width: 0;
  overflow: hidden;
}
.footer {
  background-color: #22222b;
}
.footer__inner {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 70px 0;
}
.footer__coll {
  width: 20%;
}
@media screen and (max-width: 1319px) {
  .footer__coll {
    width: 25%;
  }
}
@media screen and (max-width: 1064px) {
  .footer__coll {
    width: 50%;
  }
}
@media screen and (max-width: 420px) {
  .footer__coll {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1319px) {
  .footer__coll_contacts {
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
}
.footer__title {
  color: #757575;
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 15px;
  width: 100%;
}
.footer__title:before {
  content: '— ';
  line-height: 17px;
}
.footer__title_no-line:before {
  content: '';
}
.footer__link {
  color: #a3a3a3;
  display: table;
  margin-bottom: 10px;
  border-bottom: 1px solid transparent;
  margin-left: 20px;
}
.footer__link:hover {
  border-color: #a3a3a3;
}
.footer__phone {
  color: #fff;
  margin-bottom: 10px;
  display: block;
}
.footer__social-list {
  width: 200px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 40px;
}
.footer__social-item {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  height: 23px;
}
.footer__social-item_fb {
  background-image: url("/f/i/social/fb.svg");
  width: 23px;
}
.footer__social-item_in {
  background-image: url("/f/i/social/in.svg");
  width: 23px;
}
.footer__social-item_yt {
  background-image: url("/f/i/social/yt.svg");
  width: 23px;
}
.footer__social-item_vk {
  background-image: url("/f/i/social/vk.svg");
  width: 25px;
}
.header {
  padding-bottom: 30px;
  padding-top: 20px;
}
.header__inner {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.header__left-part {
  width: 70%;
  border-right: 1px solid #a3a3a3;
  padding-right: 20px;
}
@media screen and (max-width: 1064px) {
  .header__left-part {
    width: calc(100% - 22px);
    border-right: none;
  }
}
.header__right-part {
  width: 30%;
  padding-left: 20px;
}
@media screen and (max-width: 1064px) {
  .header__right-part {
    width: 22px;
    background-image: url("/f/i/icons/burger.svg");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    background-position: center center;
  }
}
.header__top-menu {
  margin-bottom: 20px;
}
@media screen and (max-width: 1064px) {
  .header__top-menu {
    display: none !important;
  }
}
@media screen and (max-width: 1064px) {
  .header__menu {
    display: none !important;
  }
}
.item-article__image {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
  display: block;
  margin-bottom: 15px;
}
@media screen and (max-width: 1319px) {
  .item-article__image {
    height: 200px;
  }
}
.item-article__date {
  margin-bottom: 15px;
  font-size: 16px;
  color: #a3a3a3;
}
.item-article__title {
  display: block;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 15px;
  font-weight: bold;
  height: 58px;
  overflow: hidden;
}
@media screen and (max-width: 1319px) {
  .item-article__title {
    height: 82px;
  }
}
.item-article__description {
  display: block;
  font-size: 16px;
  line-height: 24px;
  height: 74px;
  overflow: hidden;
}
@media screen and (max-width: 1319px) {
  .item-article__description {
    height: 100px;
  }
}
.link-arrow-top {
  padding-right: 20px;
  display: inline-block;
  position: relative;
  font-size: 18px;
  text-transform: uppercase;
  color: #233893;
  font-weight: bold;
  margin: auto;
}
.link-arrow-top:before {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-image: url("/f/i/icons/arrow-up-right.svg");
  background-position: center center;
  height: 14px;
  width: 14px;
}
.link-arrow {
  display: inline-block;
  padding-right: 50px;
  position: relative;
  cursor: pointer;
}
.link-arrow:before {
  content: '';
  background-image: url("/f/i/icons/arrow-right.svg");
  width: 24px;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
.link-arrow.active:before {
  right: 0;
}
.main-top__inner {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.main-top__logo {
  width: 182px;
  height: 58px;
  background-image: url("/f/i/icons/faza.svg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1064px) {
  .main-top__logo {
    width: 88px;
    height: 28px;
  }
}
.main-top__button-catalog,
.main-top__search {
  margin: 10px 0 0 0;
}
.main-top__search {
  width: calc(100% - 400px);
}
@media screen and (max-width: 1064px) {
  .main-top__search {
    width: calc(100% - 100px);
    margin: 0;
  }
}
@media screen and (max-width: 1064px) {
  .main-top__button-catalog {
    display: none !important;
  }
}
.main-top__button-catalog.open {
  color: #fff;
  background-color: #233893;
  z-index: 999;
}
.main-top__button-catalog.open:before {
  background-image: url("/f/i/icons/close-white.svg");
}
.menu {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99;
  overflow: hidden;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(6px);
  overflow-y: scroll;
}
.menu__inner {
  position: absolute;
  left: 50%;
  top: 100px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}
.menu__tabs {
  background-color: #233893;
  width: 63%;
  border-radius: 5px 0 0 5px;
}
.menu__partners {
  width: 37%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.menu__partners-item {
  width: 20%;
  margin: 5px 5%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.menu__partners-img {
  max-width: 100%;
  margin: auto;
}
.menu__tabs {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 20px 0;
}
.menu__item-tab {
  padding: 5px 20px 5px 40px;
}
.menu__item-tab.active {
  background-color: #3e55ba;
}
.menu__list-tab {
  width: 40%;
  border-right: 1px solid #3e55ba;
}
.menu__tabs-content {
  width: 0;
}
.menu__tabs-content.active {
  width: auto;
}
.menu__link-tab {
  color: #fff;
  font-size: 16px;
  line-height: 22px;
}
@media screen and (max-width: 1319px) {
  .menu__link-tab {
    font-size: 14px;
  }
}
.mobile-menu {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99;
  overflow: hidden;
  background: #fff;
  overflow-y: scroll;
}
.mobile-menu__inner {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 486px;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 100px;
}
.mobile-menu__main-list {
  display: block;
  width: 100%;
}
.mobile-menu__item {
  display: block;
  padding: 12px 0;
  font-size: 14px;
  line-height: 22px;
  border-bottom: 1px solid #a3a3a3;
  font-weight: bold;
}
.mobile-menu__close {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.mobile-menu__close:before {
  content: '';
  position: absolute;
  background-image: url("/f/i/icons/close.svg");
  -webkit-background-size: auto;
  -moz-background-size: auto;
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.mobile-menu__second-list {
  display: none;
}
.mobile-menu__user-menu {
  position: fixed;
  background-color: #fff;
  bottom: 0;
  width: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.news-slider__inner {
  position: relative;
  height: 100%;
}
.news-slider__item-slid {
  position: relative;
  padding: 60px 287px 120px 70px;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1639px) {
  .news-slider__item-slid {
    padding: 60px 150px 120px 70px;
  }
}
@media screen and (max-width: 1319px) {
  .news-slider__item-slid {
    padding: 40px 40px 100px 40px;
  }
}
@media screen and (max-width: 1064px) {
  .news-slider__item-slid {
    padding: 40px 220px 120px 60px;
  }
}
.news-slider__title {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 30px;
  color: #fff;
  font-weight: bold;
  display: block;
}
.news-slider__description {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  height: 170px;
  overflow: hidden;
  display: block;
}
.news-slider__arrow {
  position: absolute;
  bottom: 20px;
  height: 53px;
  width: 53px;
  background-image: url("/f/i/icons/arrow-circle.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  z-index: 9;
  cursor: pointer;
}
.news-slider__arrow_right {
  right: 22px;
}
.news-slider__arrow_left {
  right: 100px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.news-slider__dots {
  position: absolute;
  bottom: 40px;
  left: 60px;
}
@media screen and (max-width: 1319px) {
  .news-slider__dots {
    left: 30px;
  }
}
@media screen and (max-width: 1064px) {
  .news-slider__dots {
    left: 50px;
  }
}
.news-slider__dots button {
  border: none;
  font-size: 0;
  line-height: 0;
  background-color: rgba(255,255,255,0.6);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 1064px) {
  .news-slider__dots button {
    width: 6px;
    height: 6px;
  }
}
.news-slider__dots li {
  display: inline-block;
  margin: 0 17px;
  width: 8px;
  height: 24px;
  position: relative;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 1064px) {
  .news-slider__dots li {
    margin: 0 8px;
    width: 6px;
    height: 14px;
  }
}
.news-slider__dots li.slick-active {
  width: 24px;
  height: 24px;
  background-color: rgba(255,255,255,0.4);
  border-radius: 50%;
}
@media screen and (max-width: 1064px) {
  .news-slider__dots li.slick-active {
    width: 14px;
    height: 14px;
  }
}
.news-slider__dots li.slick-active button {
  width: 12px;
  height: 12px;
  background-color: #fff;
}
@media screen and (max-width: 1064px) {
  .news-slider__dots li.slick-active button {
    width: 8px;
    height: 8px;
  }
}
.news {
  margin-bottom: 57px;
}
@media screen and (max-width: 1064px) {
  .news {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1064px) {
  .news {
    margin-bottom: 26px;
  }
}
.news__inner {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 50px 0;
}
.news__left-block,
.news__right-block {
  width: 48%;
}
@media screen and (max-width: 1064px) {
  .news__left-block,
  .news__right-block {
    width: 100%;
  }
}
@media screen and (max-width: 1064px) {
  .news__left-block {
    margin-bottom: 40px;
  }
}
.news__title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
}
.news__wrap-title {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.news__link {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin: auto;
  margin-bottom: 40px;
}
.news__wrap-articles {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.news__item-article {
  width: 48%;
}
.news__link {
  color: #233893;
}
.partners-slider {
  margin-bottom: 57px;
}
@media screen and (max-width: 1064px) {
  .partners-slider {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1064px) {
  .partners-slider {
    margin-bottom: 26px;
  }
}
.partners-slider__inner {
  padding: 0 60px;
  position: relative;
}
.partners-slider__item {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}
.partners-slider__arrow {
  background-image: url("/f/i/icons/arrow-partners.svg");
  width: 52px;
  height: 52px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-position: center center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.partners-slider__arrow_left {
  left: 0;
}
.partners-slider__arrow_right {
  right: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.popup {
  display: none;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 999;
  top: 0;
  left: 0;
}
.popup.popup-active {
  display: block;
}
.popup__inner {
  width: 480px;
  max-width: 480px;
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  padding: 60px 80px;
}
.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.popup__close:before {
  content: '';
  position: absolute;
  background-image: url("/f/i/icons/close.svg");
  -webkit-background-size: auto;
  -moz-background-size: auto;
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.popup__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
}
.popup__text {
  font-size: 20px;
  margin-bottom: 30px;
}
.popup__link {
  color: #233893;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 18px;
}
.opened-popup {
  overflow: hidden;
}
.price-rub {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.price-rub__inner {
  margin: auto;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  padding-right: 20px;
}
@media screen and (max-width: 1064px) {
  .price-rub__inner {
    font-size: 16px;
    padding-right: 14px;
  }
}
.price-rub__inner:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 14px;
  height: 18px;
  background-image: url("/f/i/icons/rub.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
@media screen and (max-width: 1064px) {
  .price-rub__inner:before {
    width: 11px;
    height: 14px;
  }
}
.htooltip span {
/* Внешний вид нашего тултипа */
  background-color: rgba(0,0,0,0.8);
  border-radius: 15px 15px 15px 0px;
  -webkit-box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  color: #fff;
  margin-left: 2px;
  margin-top: -75px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0); /* Делаем его прозрачным */
  padding: 10px 10px 10px 40px;
  position: absolute;
  text-decoration: none;
  visibility: hidden; /* И прячем */
  width: 350px;
  z-index: 10;
}
.htooltip:hover span {
/* По hover отображаем тултип */
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
}
.htooltip span img {
/* Изображение для примера */
  border: 0 none;
  float: left;
  margin: -71px 0 0 -234px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: absolute;
  visibility: hidden;
  z-index: -1;
}
.htooltip:hover span img {
/* Показываем изображение */
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
}
.product-list__inner {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 70px 0;
}
.product-list__banner {
  width: 32%;
  height: 416px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
  display: block;
}
@media screen and (max-width: 1639px) {
  .product-list__banner {
    height: 380px;
  }
}
@media screen and (max-width: 1319px) {
  .product-list__banner {
    width: 48%;
  }
}
@media screen and (max-width: 1064px) {
  .product-list__banner {
    width: 50%;
    height: 310px;
  }
}
@media screen and (max-width: 767px) {
  .product-list__banner {
    width: 100%;
    height: 72vw;
    margin-bottom: 14px;
  }
}
.product-list__product {
  width: 15%;
  margin-bottom: 28px;
}
@media screen and (max-width: 1319px) {
  .product-list__product {
    width: 23%;
  }
}
@media screen and (max-width: 767px) {
  .product-list__product {
    width: 49%;
    margin-bottom: 14px;
  }
}
.product-price {
  background-color: #fff;
}
.product-price__inner {
  padding: 26px;
}
@media screen and (max-width: 1639px) {
  .product-price__inner {
    padding: 20px 22px;
  }
}
@media screen and (max-width: 1064px) {
  .product-price__inner {
    padding: 14px 16px;
  }
}
@media screen and (max-width: 767px) {
  .product-price__inner {
    padding: 14px 10px;
  }
}
.product-price__price {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.product-price__img {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}
@media screen and (max-width: 1639px) {
  .product-price__img {
    height: 180px;
    margin-bottom: 18px;
  }
}
@media screen and (max-width: 1064px) {
  .product-price__img {
    margin-bottom: 10px;
    height: 162px;
  }
}
@media screen and (max-width: 767px) {
  .product-price__img {
    height: 140px;
  }
}
.product-price__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 22px;
  display: block;
}
@media screen and (max-width: 1064px) {
  .product-price__title {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 767px) {
  .product-price__title {
    font-size: 12px;
    line-height: 15px;
  }
}
.product-price__buy-button {
  margin-right: 20px;
}
@media screen and (max-width: 767px) {
  .product-price__buy-button {
    margin-right: 10px;
  }
}
.product-slider__item-slid {
  width: 240px;
  padding: 0 10px;
}
.product-slider__image {
  width: 100%;
  height: 240px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  margin-bottom: 10px;
  display: block;
}
@media screen and (max-width: 1064px) {
  .product-slider__image {
    height: 140px;
  }
}
.product-slider__rating {
  width: 180px;
  margin-bottom: 10px;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .product-slider__rating {
    width: 80px;
  }
}
@media screen and (max-width: 767px) {
  .product-slider__star {
    display: none;
  }
}
.product-slider__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
}
@media screen and (max-width: 1064px) {
  .product-slider__title {
    font-size: 12px;
    line-height: 16px;
  }
}
.product-slider__buy-price {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: left;
  -moz-box-pack: left;
  -o-box-pack: left;
  -ms-flex-pack: left;
  -webkit-justify-content: left;
  justify-content: left;
}
.product-slider__price {
  margin-left: 20px;
}
.product-slider__arrow {
  position: absolute;
  bottom: 0;
  height: 59px;
  width: 80px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-position: center center;
  cursor: pointer;
}
.product-slider__arrow_right {
  background-image: url("/f/i/icons/arrow-product-right.svg");
  right: 0;
}
.product-slider__arrow_left {
  background-image: url("/f/i/icons/arrow-product-left.svg");
  left: 0;
}
.product-slider__dots {
  position: absolute;
  width: 90%;
  bottom: 26px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 6px;
  background-color: #f1f1f1;
  line-height: 0;
  border-radius: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
@media screen and (max-width: 1064px) {
  .product-slider__dots {
    width: 82%;
  }
}
.product-slider__dots button {
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-size: 0;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}
.product-slider__dots li {
  height: 100%;
  display: inline-block;
  line-height: 0;
  font-size: 0;
  position: relative;
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -o-box-flex: 2;
  -ms-box-flex: 2;
  box-flex: 2;
  -webkit-flex-grow: 2;
  flex-grow: 2;
  -webkit-flex-basis: 10%;
  flex-basis: 10%;
}
.product-slider__dots li.slick-active {
  background-color: #cfd6f5;
  border-radius: 10px;
}
.product-slider .slick-list {
  overflow: visible;
  padding-bottom: 100px;
}
@media screen and (max-width: 1064px) {
  .product-slider .slick-list {
    padding-bottom: 80px;
  }
}
.product-tabs {
  margin-bottom: 57px;
}
@media screen and (max-width: 1064px) {
  .product-tabs {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1064px) {
  .product-tabs {
    margin-bottom: 26px;
  }
}
.product-tabs__switch {
  font-weight: bold;
  padding-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .product-tabs__switch {
    overflow-x: scroll;
    white-space: nowrap;
  }
}
.promo-big-slider__dots {
  position: absolute;
  bottom: 13px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media screen and (max-width: 1064px) {
  .promo-big-slider__dots {
    left: auto;
    right: 20px;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.promo-big-slider__dots button {
  border: none;
  font-size: 0;
  line-height: 0;
  background-color: rgba(255,255,255,0.6);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 1064px) {
  .promo-big-slider__dots button {
    width: 6px;
    height: 6px;
  }
}
.promo-big-slider__dots li {
  display: inline-block;
  margin: 0 17px;
  width: 8px;
  height: 24px;
  position: relative;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 1064px) {
  .promo-big-slider__dots li {
    margin: 0 8px;
    width: 6px;
    height: 14px;
  }
}
.promo-big-slider__dots li.slick-active {
  width: 24px;
  height: 24px;
  background-color: rgba(255,255,255,0.4);
  border-radius: 50%;
}
@media screen and (max-width: 1064px) {
  .promo-big-slider__dots li.slick-active {
    width: 14px;
    height: 14px;
  }
}
.promo-big-slider__dots li.slick-active button {
  width: 12px;
  height: 12px;
  background-color: #fff;
}
@media screen and (max-width: 1064px) {
  .promo-big-slider__dots li.slick-active button {
    width: 8px;
    height: 8px;
  }
}
.promo-big-slider__button {
  position: absolute;
  bottom: 47px;
  left: 24px;
}
@media screen and (max-width: 1064px) {
  .promo-big-slider__button {
    bottom: 20px;
    left: 20px;
  }
}
.promo-big-slider__item-slid {
  height: 452px;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1639px) {
  .promo-big-slider__item-slid {
    height: 360px;
  }
}
@media screen and (max-width: 1319px) {
  .promo-big-slider__item-slid {
    height: 288px;
  }
}
@media screen and (max-width: 1064px) {
  .promo-big-slider__item-slid {
    height: 216px;
    background-position: left center;
  }
}
@media screen and (max-width: 767px) {
  .promo-big-slider__item-slid {
    height: 48vw;
  }
}
.promo-sliders {
  margin-bottom: 57px;
}
@media screen and (max-width: 1064px) {
  .promo-sliders {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1064px) {
  .promo-sliders {
    margin-bottom: 26px;
  }
}
.promo-sliders__inner {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.promo-sliders__big-slider {
  width: 67%;
  position: relative;
}
@media screen and (max-width: 767px) {
  .promo-sliders__big-slider {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 20px;
  }
}
.promo-sliders__small-slider {
  width: 31%;
  position: relative;
}
@media screen and (max-width: 767px) {
  .promo-sliders__small-slider {
    width: 100%;
  }
}
.promo-small-slider__dots {
  position: absolute;
  bottom: 13px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.promo-small-slider__dots button {
  border: none;
  font-size: 0;
  line-height: 0;
  background-color: rgba(255,255,255,0.6);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 1064px) {
  .promo-small-slider__dots button {
    width: 6px;
    height: 6px;
  }
}
.promo-small-slider__dots li {
  display: inline-block;
  margin: 0 17px;
  width: 8px;
  height: 24px;
  position: relative;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 1064px) {
  .promo-small-slider__dots li {
    margin: 0 8px;
    width: 6px;
    height: 14px;
  }
}
.promo-small-slider__dots li.slick-active {
  width: 24px;
  height: 24px;
  background-color: rgba(255,255,255,0.4);
  border-radius: 50%;
}
@media screen and (max-width: 1064px) {
  .promo-small-slider__dots li.slick-active {
    width: 14px;
    height: 14px;
  }
}
.promo-small-slider__dots li.slick-active button {
  width: 12px;
  height: 12px;
  background-color: #fff;
}
@media screen and (max-width: 1064px) {
  .promo-small-slider__dots li.slick-active button {
    width: 8px;
    height: 8px;
  }
}
.promo-small-slider__button {
  position: absolute;
  bottom: 52px;
  left: 24px;
}
@media screen and (max-width: 1064px) {
  .promo-small-slider__button {
    bottom: 40px;
  }
}
.promo-small-slider__item-slid {
  height: 452px;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1639px) {
  .promo-small-slider__item-slid {
    height: 360px;
  }
}
@media screen and (max-width: 1319px) {
  .promo-small-slider__item-slid {
    height: 288px;
  }
}
@media screen and (max-width: 1064px) {
  .promo-small-slider__item-slid {
    height: 216px;
  }
}
@media screen and (max-width: 767px) {
  .promo-small-slider__item-slid {
    height: 46vw;
  }
}
.rating__inner {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.rating__heart {
  width: 24px;
  height: 23px;
  background-image: url("/f/i/icons/heart.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.rating__chart {
  width: 24px;
  height: 24px;
  background-image: url("/f/i/icons/chart.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.rating__fill {
  background-image: url("/f/i/icons/star-active.svg");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  height: 100%;
  width: 0;
}
.rating__star {
  background-image: url("/f/i/icons/star-default.svg");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  height: 20px;
  width: 100px;
}
.rating__star[data-rating="0.5"] .rating__fill {
  width: 20px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.rating__star[data-rating="1"] .rating__fill {
  width: 20px;
}
.rating__star[data-rating="1.5"] .rating__fill {
  width: 31px;
}
.rating__star[data-rating="2"] .rating__fill {
  width: 40px;
}
.rating__star[data-rating="2.5"] .rating__fill {
  width: 51px;
}
.rating__star[data-rating="3"] .rating__fill {
  width: 60px;
}
.rating__star[data-rating="3.5"] .rating__fill {
  width: 71px;
}
.rating__star[data-rating="4"] .rating__fill {
  width: 80px;
}
.rating__star[data-rating="4.5"] .rating__fill {
  width: 91px;
}
.rating__star[data-rating="5"] .rating__fill {
  width: 100px;
}
.repairs {
  margin-bottom: 57px;
}
@media screen and (max-width: 1064px) {
  .repairs {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1064px) {
  .repairs {
    margin-bottom: 26px;
  }
}
.repairs__head {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 36px;
}
.repairs__title {
  font-size: 40px;
  font-weight: bold;
}
@media screen and (max-width: 1064px) {
  .repairs__title {
    font-size: 30px;
  }
}
.repairs__link {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.repairs__content {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.repairs__rooms {
  width: 430px;
}
@media screen and (max-width: 1639px) {
  .repairs__rooms {
    width: 267px;
  }
}
@media screen and (max-width: 1319px) {
  .repairs__rooms {
    display: none;
  }
}
.repairs__item-room {
  display: inline-block;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 32%;
  margin-bottom: 2.5%;
}
.repairs__item-room:nth-last-child(1) {
  margin-bottom: 0;
}
.search__inner {
  border: 1px solid #a3a3a3;
  border-radius: 2px;
  padding: 10px 60px 10px 10px;
  position: relative;
}
@media screen and (max-width: 1064px) {
  .search__inner {
    padding: 3px 60px 4px 10px;
  }
}
.search__submit {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.search__submit:before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url("/f/i/icons/search.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.search__input {
  font-size: 18px;
  width: 100%;
  border: none;
}
@media screen and (max-width: 1064px) {
  .search__input {
    font-size: 16px;
  }
}
.subscribe {
  -webkit-box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}
.subscribe__inner {
  padding: 60px 40px;
}
@media screen and (max-width: 1319px) {
  .subscribe__inner {
    padding: 30px 40px;
  }
}
.subscribe__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 60px;
}
@media screen and (max-width: 1319px) {
  .subscribe__title {
    font-size: 20px;
    line-height: 26px;
  }
}
.switch-tab {
  display: inline-block;
  padding: 7px 16px;
  border-radius: 100px;
  margin-right: 40px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .switch-tab {
    font-size: 14px;
    margin-right: 10px;
  }
}
.switch-tab:nth-last-child(1) {
  margin-right: 0;
}
.switch-tab:hover,
.switch-tab.active {
  background-color: #eceffd;
}
.switch-tab:hover {
  cursor: pointer;
}
.switch-tab.active {
  padding-left: 40px;
  position: relative;
}
.switch-tab.active:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #233893;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 16px;
  border-radius: 50%;
}
.tabs__content {
  height: 0;
  overflow: auto;
}
.tabs__content.active {
  height: auto;
  overflow: visible;
}
.tooltip {
  color: #0a0a0a;
}
.tooltip__content {
  background-color: rgba(0,0,0,0.8);
  border-radius: 15px 15px 15px 0px;
  -webkit-box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  color: #fff;
  margin-left: 30px;
  margin-top: -20px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0); /* Делаем его прозрачным */
  padding: 10px;
  position: absolute;
  text-decoration: none;
  visibility: hidden; /* И прячем */
  width: auto;
  z-index: 10;
}
.tooltip__content a {
  color: #fff;
}
.tooltip:hover .tooltip__content {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
}
.top-menu {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.top-menu__item-point {
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  margin-right: 50px;
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 1319px) {
  .top-menu__item-point {
    margin-right: 30px;
    font-size: 14px;
  }
}
.top-menu__item-point:nth-last-child(1) {
  margin-right: 0;
}
.top-menu__item-point_arrow {
  padding-right: 15px;
}
.top-menu__item-point_arrow:before {
  content: '';
  width: 8px;
  height: 5px;
  position: absolute;
  right: 0;
  top: 60%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-image: url("/f/i/icons/arrow-bottom.svg");
  -webkit-background-size: auto;
  -moz-background-size: auto;
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.top-menu__item-point_arrow:hover:before,
.top-menu__item-point_arrow.active:before {
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
  top: 50%;
}
.top-menu__item-point_city {
  color: #233893;
  padding-left: 30px;
}
.top-menu__item-point_city:before {
  content: '';
  background-image: url("/f/i/icons/map-point.svg");
  -webkit-background-size: auto;
  -moz-background-size: auto;
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 20px;
  height: 24px;
}
.user-menu__inner {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.user-menu__item-point {
  font-size: 14px;
  padding: 50px 0px 20px 0px;
  position: relative;
  cursor: pointer;
}
.user-menu__item-point:before {
  content: '';
  position: absolute;
  width: 32px;
  height: 32px;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.user-menu__item-point_compare:before {
  background-image: url("/f/i/icons/compare.svg");
}
.user-menu__item-point_heart:before {
  background-image: url("/f/i/icons/heart-blue.svg");
}
.user-menu__item-point_user:before {
  background-image: url("/f/i/icons/user.svg");
}
.user-menu__item-point_basket:before {
  background-image: url("/f/i/icons/basket-blue.svg");
}
.wrapper_img-full {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.wrapper_cleaner {
  background-position: center 77px;
  background-color: #134165;
}
