/*
The CSS export should solely be used as a reference.
For a more detailed animation export the JSON file should be used.
*/
#phase {
    transform: translateX(-50%) translateY(-50%);
    animation: phase__fillColor__1 1248ms 0ms linear forwards, phase__fillColor__2 136ms 1248ms linear forwards;
}

@keyframes phase__fillColor__1 {
    from {
        background-color: rgba(191.25,191.25,191.25,1);
    }

    to {
        background-color: rgba(191.25,191.25,191.25,1);
    }
}
@keyframes phase__fillColor__2 {
    from {
        background-color: rgba(191.25,191.25,191.25,1);
    }

    to {
        background-color: rgba(34,52,105,1);
    }
}

#plug_mask {
    transform: translateY(-50%);
    animation: plug_mask__width__1 736ms 0ms ease-in-out forwards, plug_mask__width__2 92ms 736ms ease-in-out forwards;
}

@keyframes plug_mask__width__1 {
    from {
        width: 1px;
    }

    to {
        width: 1px;
    }
}
@keyframes plug_mask__width__2 {
    from {
        width: 1px;
    }

    to {
        width: 92px;
    }
}

#plug {
    transform: translateY(-50%);
    animation: plug__x__1 794ms 0ms ease-in-out forwards, plug__x__2 423ms 794ms ease-in-out forwards;
}

@keyframes plug__x__1 {
    from {
        left: 893px;
    }

    to {
        left: 893px;
    }
}
@keyframes plug__x__2 {
    from {
        left: 893px;
    }

    to {
        left: 940px;
    }
}

#wire {
    transform: translateY(-50%);
    animation: wire__width__1 793ms 0ms ease-in-out forwards, wire__width__2 303ms 793ms ease-in-out forwards, wire__opacity__1 803ms 0ms ease-in-out forwards, wire__opacity__2 28ms 803ms ease-in-out forwards;
}

@keyframes wire__width__1 {
    from {
        width: 1px;
    }

    to {
        width: 1px;
    }
}
@keyframes wire__width__2 {
    from {
        width: 1px;
    }

    to {
        width: 49px;
    }
}
@keyframes wire__opacity__1 {
    from {
        opacity: 0;
    }

    to {
        opacity: 0;
    }
}
@keyframes wire__opacity__2 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#top {
    transform: translateX(-50%) translateY(-100%);
    animation: top__height__1 600ms 0ms ease-in-out forwards, top__height__2 186ms 600ms ease-in-out forwards;
}

@keyframes top__height__1 {
    from {
        height: 1px;
    }

    to {
        height: 1px;
    }
}
@keyframes top__height__2 {
    from {
        height: 1px;
    }

    to {
        height: 19px;
    }
}

#bottom {
    transform: translateX(-100%) translateY(-50%);
    animation: bottom__width__1 600ms 0ms ease-in-out forwards;
}

@keyframes bottom__width__1 {
    from {
        width: 5px;
    }

    to {
        width: 203px;
    }
}
