.bx-pagination.bx-blue .bx-pagination-container ul li.bx-active span{
    background-color: #233893;
}
.catalog__subcategory{
    padding: 0;
}
.catalog__subcategory .show__more{
    width: 100%;
}
.catalog__subcategory .show__more span{
    display: block;
    margin: 0 auto;
    width: max-content;
    padding: 15px 35px;
    border: 1px solid #233893;
    text-transform: uppercase;
    cursor: pointer;
}
.catalog__subcategory .hidden{
    display: none;
}
.active__filter-values ul{
    position: static;
}
