*
	box-sizing border-box

body
	margin: 0;
	padding: 0;
	position: relative;
	font-family $Geometria

.have-opened-popup
	overflow hidden

sup	
	vertical-align super
	font-size 0.6em

main
	min-height 450px

aside, main, section, header, footer
	display block

a
	text-decoration none
	color #000

img
	max-width 100%

button:active, button:focus, input:active, input:focus, a:active, a:focus, textarea:active, textarea:focus
	outline: none

::-webkit-input-placeholder
	stylePlaceholder()
::-moz-placeholder
	stylePlaceholder()
:-moz-placeholder
	stylePlaceholder()
:-ms-input-placeholder
	stylePlaceholder()

button
	background-color transparent
	padding 0
	border none
	font-family $Geometria
	cursor pointer

.disabled
	background-color $lightGray!important
	cursor auto!important
	pointer-events none!important

.iframe-video
	width 100%
	height 452px
	@media $desktop
		height 340px
	@media $laptop
		height 243px
	@media $tablet
		height 410px
	@media $phone
		height 53vw

//BUTTONS
.blue-button
	display inline-block
	background-color $blue
	padding 15px 30px
	font-size 18px
	color #ffffff
	border none
	cursor pointer
	transition 0.3s
	font-family $Geometria
	&:hover, &:active, &:focus
		background-color #2b3465
		color #ffffff
		text-decoration none
		//border 3px solid #fff
	@media $tablet
		font-size 12px
		padding 6px 12px
	&_basket
		padding 15px 10px 15px 40px!important
		position relative
		&:before
			content ''
			position absolute
			width 26px
			height 26px
			left 20px
			top 50%
			transform translateY(-50%)
			background-image url("/f/i/icons/basket.svg")
			background-size contain
			background-repeat no-repeat
			background-position center center

.white-button
	display inline-block
	background-color #fff
	padding 15px 30px
	font-size 18px
	border none
	cursor pointer
	transition 0.3s
	&:hover
		background-color $blue
		color #ffffff
		a
			color #ffffff
	@media $tablet
		font-size 12px
		padding 6px 12px

.buy-button
	background-color  $blue
	border none
	position relative
	width 50px
	height 50px
	border-radius 50%
	cursor pointer
	border 0px solid #fff
	transition 0.3s
	&:hover
		border 1px solid #ffffff
		background-color #2b3465
	@media $tablet
		width 44px
		height 44px
	&:before
		content ''
		display block
		position absolute
		top 50%
		left 50%
		transform translateX(-50%) translateY(-50%)
		width 32px
		height 27px
		background-image url("/f/i/icons/basket.svg")
		background-size cover
		@media $tablet
			width 28px
			height 26x
	&.active
		&:before
			background-image url("/f/i/icons/tick-white.svg")
			width 22px
			height 20px

.filter-button
	color $blue
	padding-left 20px
	font-size 16px
	font-weight bold
	&:before
		content ''
		display block
		position absolute
		left 0
		top 50%
		transform translateY(-50%)
		width 18px
		height 18px
		background-image url("/f/i/icons/filter-blue.svg")
		background-size contain
		background-repeat no-repeat
		background-position center center

.clear-button
	color $blue
	font-size 17px
	padding-right 16px
	display block
	position relative
	font-weight bold
	&:before
		content ''
		display block
		position absolute
		right 0
		top 50%
		transform translateY(-40%)
		width 12px
		height 12px
		background-image url("/f/i/icons/close-blue.svg")
		background-size contain
		background-repeat no-repeat
		background-position center center

.button-catalog
	position relative
	background-color #000000
	color #ffffff
	font-size 18px
	font-weight bold
	padding 13px 30px 13px 64px
	display inline-block
	cursor pointer
	&:before
		content ''
		position absolute
		top 50%
		left 20px
		height 24px
		width 24px
		transform translateY(-50%)
		background-image url("/f/i/icons/catalog.svg")
		background-position center center
		background-repeat no-repeat
		background-size cover

.button-add
	color $blue
	cursor pointer
	font-size 17px
	font-weight bold
	position relative
	padding-left 34px
	&:before
		position absolute
		content ''
		left 0
		top 50%
		transform translateY(-50%)
		width 26px
		height 26px
		background-image url("/f/i/cabinet/plus.png")
		background-size contain
		background-position center center
		background-repeat no-repeat

.transparent-button
	color $blue
	border 1px solid $blue
	font-size 13px
	padding 5px 10px
	border-radius 3px
	height min-content

.like-button
	color $blue
	border 1px solid $blue
	padding 5px 10px
	border-radius 3px
	height min-content
	position relative
	display inline-block
	min-height 38px
	min-width 38px
	&:before
		content ''
		position absolute
		left 50%
		top 50%
		transform translate(-50%, -50%)
		width 16px
		height 16px
		background-position center center
		background-size contain
		background-image url("/f/i/icons/heart-blue2.svg")
		background-repeat no-repeat


.link-blue, .blue-link
	color $blue
	&:hover
		border-bottom 1px solid $blue

.link-white, .white-link
	color #ffffff
	&:hover
		border-bottom 1px solid #ffffff

// Background colors
.bgc
	&_elis
		background-color #f1f5fa


// hide and show
.show-tablet
	display none!important
	@media $tablet
		display block!important
.show-phone
	display none!important
	@media $phone
		display block!important

.hide-desktop
	@media $desktop
		display none!important

.hide-laptop
	@media $laptop
		display none!important

.hide-tablet
	@media $tablet
		display none!important

.hide-phone
	@media $phone
		display none!important

.hide-middlephone
	@media $middlePhone
		display none!important

.hide-smallphone
	@media $smallPhone
		display none!important

// width
.w-800
	width 800px!important

.w-600
	width 600px!important

.w-640
	width 640px!important

.mr-20
	margin-right 20px!important


//restyles bitrix

.alert-success
	color: #000!important
	background-color: #eceffd!important
	border: 1px solid $blue!important
	line-height: 20px!important

.bx-soa-section.bx-step-completed
	border: 1px solid #f2f5f7!important

.bx-soa-section-title-container
	background-color #eceffd!important
	padding: 15px 20px!important;
	font-size 16px!important
	font-weight bold!important

.bx-blue .btn.btn-default
	border-radius 0!important
	display inline-block!important
	background-color $blue!important
	padding 15px 30px!important
	font-size 18px!important
	color #ffffff!important
	border none!important
	cursor pointer!important
	transition 0.3s!important
	font-family $Geometria!important
	&:hover, &:active, &:focus
		background-color #2b3465!important
		color #ffffff!important
		text-decoration none!important
	//border 3px solid #fff
	@media $tablet
		font-size 12px!important
		padding 6px 12px!important

.icon-success, .bx-soa-section-title-count, .bx-soa-pp-company-selected img
	display none!important

.bx-soa-section-content
	padding 15px 20px!important

.bx-soa-pp-company-selected strong
	margin-left 0!important

.bx-soa-section.bx-selected
	border-color #f2f5f7!important
.bx-soa-editstep
	font-size 0!important
	line-height 0!important
	height 26px!important
	width 26px!important
	background-image url('/f/i/icons/edit.svg')!important
	background-size cover!important
	display block!important
	border-bottom none!important
	float right!important
.bx-soa .bx-soa-customer-label, .bx-soa .bx-soa-custom-label, .bx-soa .form-group label
	font-weight bold!important
	margin-bottom 5px!important
	font-size 14px!important



#bx-soa-region .bx-soa-section-title, #bx-soa-delivery .bx-soa-section-title, #bx-soa-paysystem .bx-soa-section-title, #bx-soa-properties .bx-soa-section-title, #bx-soa-basket .bx-soa-section-title
	position relative
	padding-left 40px
	padding-bottom 7px
	padding-top 7px
	background-repeat no-repeat
	background-position 0 center
	background-size auto 100%
#bx-soa-region .bx-soa-section-title
	background-image url('/f/i/icons/map-point.svg')
#bx-soa-delivery .bx-soa-section-title
	background-image url('/f/i/icons/delivery.svg')
#bx-soa-paysystem .bx-soa-section-title
	background-image url('/f/i/icons/wallet.svg')
#bx-soa-basket .bx-soa-section-title
	background-image url('/f/i/icons/shopping-cart.svg')
#bx-soa-properties .bx-soa-section-title
	background-image url('/f/i/icons/user2.svg')

.sale-order-detail-general-head
	background-color #eceffd!important
.sale-order-detail-general
	border 1px solid $blue
	margin-bottom 40px
.sale-order-detail-payment-options-methods-button-element,
.sale-order-detail-about-order-inner-container-repeat-button
	font: inherit!important
	display inline-block!important
	background-color $blue!important
	padding 15px 30px!important
	font-size 14px!important
	color #ffffff!important
	border none!important
	cursor pointer!important
	transition 0.3s!important
	font-family $Geometria!important
	height auto!important
	&:hover, &:active, &:focus
		background-color #2b3465!important
		color #ffffff!important
		text-decoration none!important
	//border 3px solid #fff
	@media $tablet
		font-size 12px!important
		padding 6px 12px!important
.sale-order-detail-general-item
	color #000!important

.bx-soa-pickup-list .bx-soa-pickup-list-item
	padding: 30px 35px!important
	cursor pointer!important
.bx-soa-pickup-l-item-btn
	margin-top 0!important
	transform: translateY(-50%)!important
.bx-soa-pickup-list-item.bx-selected .bx-soa-pickup-l-item-btn
	position absolute!important
	right 0!important
	top 50%!important
	transform: translateY(-50%)!important
.tfl__link-container:hover, .tfl__link-container
	margin-left 20px!important


//table.sale_order_full_table












