//FONTS
$Geometria = 'Geometria', 'Verdana', sans-serif


// COLORS
$blue = #233893
$lightBlue = #3E55BA
$darkGray = #22222B
$gray = #757575
$lightGray = #A3A3A3
$superLightGray = #F0EFF3
$red = #f00

// MEDIA
$desktop  = 'screen and (max-width 1639px)'
$laptop = 'screen and (max-width 1319px)'
$tablet = 'screen and (max-width 1064px)'
$phone = 'screen and (max-width 767px)'
$middlePhone = 'screen and (max-width 490px)'
$smallPhone = 'screen and (max-width 420px)'


sectionBottom()
  margin-bottom 57px
  @media $tablet
    margin-bottom 30px
  @media $tablet
    margin-bottom 26px

stylePlaceholder()
  color: #000
  font-family $Geometria
  font-weight bold

articleTags()
  img
    max-width 100%
    margin-bottom 30px
  h1
    font-size 40px
    line-height 60px
    font-weight bold
    margin-bottom 38px
    @media $tablet
      font-size 30px
      line-height 38px
    @media $phone
      font-size 30px
      line-height 38px
  h2
    font-size 30px
    line-height 35px
    font-weight bold
    margin-bottom 20px
    padding-top 15px
    @media $tablet
      font-size 25px
      line-height 32px
    @media $phone
      font-size 25px
      line-height 30px
  h3
    font-size 25px
    line-height 35px
    font-weight bold
    margin-bottom 20px
    padding-top 15px
    @media $tablet
      font-size 25px
      line-height 32px
    @media $phone
      font-size 25px
      line-height 35px
  h4
    font-size 20px
    line-height 35px
    font-weight bold
    margin-bottom 20px
    padding-top 15px
    @media $tablet
      font-size 20px
      line-height 35px
    @media $phone
      font-size 20px
      line-height 35px
  p
    font-size 18px
    line-height 28px
    padding-bottom 30px
    @media $tablet
      font-size 16px
      line-height 25px
    @media $phone
      font-size 16px
      line-height 25px
  ul
    padding-bottom 30px
    li
      font-size 18px
      line-height 28px
      position relative
      padding-left 20px
      &:before
        content ''
        position absolute
        left 0
        top 8px
        height 14px
        width 14px
        border-radius 50%
        background-color $blue
        opacity 0.5
      &:after
        content ''
        position absolute
        left 2px
        top 10px
        height 10px
        width 10px
        border-radius 50%
        background-color $blue
      @media $tablet
        font-size 16px
        line-height 25px
      @media $phone
        font-size 16px
        line-height 25px
  ol
    padding-bottom 30px
    li
      font-size 18px
      line-height 28px
      list-style decimal
      list-style-position: inside;
      @media $tablet
        font-size 16px
        line-height 25px
      @media $phone
        font-size 16px
        line-height 25px
  blockquote
    font-size 18px
    line-height 28px
    background-color $blue
    color #fff
    padding 55px 83px 55px 117px
    margin-bottom 30px
    position relative
    &:before
      content ''
      position absolute
      left 66px
      top 0
      width 2px
      height calc(100% - 110px)
      background-color #fff
      top 50%
      transform translateY(-50%)
    @media $tablet
      font-size 16px
      line-height 25px
      padding 45px 37px 45px 62px
      &:before
        height calc(100% - 90px)
        left 45px
    @media $phone
      font-size 16px
      line-height 25px
      padding 40px 20px 40px 36px
      &:before
        height calc(100% - 90px)
        left 19px