.advantages
  sectionBottom()
  &__inner
    display flex
    flex-wrap wrap
    justify-content space-between
    @media $tablet
      overflow-x: scroll;
      overflow-y hidden
      white-space: nowrap;
      display block
  &__item
    width 23.6%
    border-radius 5px
    position relative
    background-color $blue
    padding 20px 20px 50px 80px
    overflow hidden
    display block
    white-space: normal
    @media $laptop
      padding 20px 20px 40px 60px
    @media $tablet
      padding 10px 20px 30px 50px
      display inline-block
      width 224px
      margin-right 10px
  &__title
    color #fff
    font-size 20px
    line-height 26px
    font-weight bold
    min-height 70px
    display block
    @media $laptop
      font-size 13px
      line-height 17px
      min-height 50px
    @media $tablet
      min-height 50px
  &__link
    position absolute
    text-transform uppercase
    color #ffffff
    opacity 0.5
    display block
    @media $laptop
      font-size 10px
    @media $tablet
      bottom 0
  &__circle
    position absolute
    top 50%
    left -105px
    transform translateY(-50%)
    height 170px
    width 170px
    display block
    transition 0.6s
    @media $laptop
      height 120px
      width 120px
      left -70px
    @media $tablet
      height 100px
      width 100px
      left -60px
    &.active
      left -60px