.all-news
  &__inner
    display flex
    flex-wrap wrap
    margin-right -2vw
  &__item-article
    width calc(33.33% - 2vw)
    margin-right 2vw
    margin-bottom 2vw
    @media $phone
      width calc(50% - 2vw)
    @media $middlePhone
      width calc(100% - 2vw)
  & .item-article__title
    @media $middlePhone
      height auto