.anim-num
  &__inner
    display flex
    flex-wrap wrap
    flex-flow row
    height 100%
  &__wrap-numbers
    padding 56px 80px 56px 10px
    position relative
    @media $laptop
      padding 20px 50px 20px 10px
  &__article
    display none
    &.active
      display block
  &__item-number
    text-align right
    font-weight bold
    font-size 20px
    //margin-bottom 35px
    cursor pointer
    width 62px
    height 62px
    transition 0.3s
    padding 20px 0
    &.active
      font-size 60px
      padding 0
  &__blue
    background-color $blue
    padding 56px 80px
    position relative
    @media $laptop
      padding 30px 40px
  &__title
    color #ffffff
    font-weight bold
    font-size 30px
    line-height 40px
    margin-bottom 25px
    display block
    height 80px
    overflow hidden
    @media $laptop
      font-size 20px
      line-height 26px
  &__description
    color #ffffff
    font-size 20px
    margin-bottom 60px
    display block
    height 80px
    overflow hidden
    @media $laptop
      font-size 16px
      height 50px
  &__tags
    margin-bottom 15px
    li
      font-size 16px
      display inline-block
      color: #fff;
      opacity: 0.5;
  &__link-arrow
    color: #fff;
    opacity: 0.5;
    font-size 16px
  &__line
    top 80px
    height 3px
    position absolute
    transition 0.3s
    @media $laptop
      top 50px
    &_black
      right 0
      width 55px
      background-color #000
      @media $laptop
        width 30px
    &_white
      left 0
      width 36px
      background-color #fff
      @media $laptop
        width 30px