.appraisals
  width 300px
  &__title
    font-size 26px
    margin-bottom 16px
    font-weight bold
  &__rating
    margin-bottom 40px
  &__item-data
    display flex
    flex-wrap wrap
    justify-content space-between
    margin-bottom 15px
  &__grade, &__sum
    font-size 18px
    font-weight bold
    background-color #FFFFFF
  &__wrap-btn
    display flex
    flex-wrap wrap
    justify-content space-between
  &__transparent-button
    font-size 18px
    padding 15px 30px
    width 100%
    text-align center
    font-weight bold
    cursor pointer
    margin-top 40px
    @media $tablet
      width 47%
      font-size 14px
      padding 15px 10px
      margin-top 20px
  &__line
    position relative
    width 240px
    &:before
      content ''
      width 100%
      position absolute
      height 4px
      border-radius 10px
      top 50%
      transform translateY(-50%)
      left 0
      background-color $lightGray
  &__fill
    content ''
    position absolute
    height 4px
    border-radius 10px
    top 50%
    transform translateY(-50%)
    left 0
    background-color #FF8964
    width 50%

