.article
  sectionBottom()
  &__inner
    margin 0 auto
    width 1120px
    padding 0 80px
    max-width 100%
    @media $phone
      padding 0 20px
    articleTags()
  &__wrap-head-img
    margin-bottom 38px
  img.article__item-head-img
    display block
    margin auto
    max-width 60%
  &__center
    text-align center
  &__info-blog
    margin-top: 20px