.balance
  &__title
    font-size 22px
    font-weight bold
    margin-bottom 10px
    @media $tablet
      font-size 14px
  &__cash
    font-size 70px
    font-weight bold
    position relative
    display inline-block
    padding-right 50px
    @media $tablet
      font-size 42px
      padding-right 30px
    &:after
      position absolute
      content ''
      right 0
      top 50%
      transform translateY(-50%)
      height 48px
      width 40px
      background-image url("/f/i/icons/rub.svg")
      background-size contain
      background-repeat no-repeat
      background-position center right
      @media $tablet
        height 28px
        width 24px