.basket
  &__inner
    padding-left 400px
    position relative
    margin-bottom 60px
    min-height 900px
    @media $desktop
      padding-left 340px
    @media $tablet
      padding-left 0
      position static
      margin-bottom 40px
      display flex
      flex-wrap wrap
  &__panel
    position absolute
    width 320px
    left 0
    top 0
    @media $desktop
      width 300px
    @media $tablet
      width 100%
      position relative
      order 2
  &__price
    margin-bottom 10px
    .price-rub__inner
      margin  0 0 0 20px
  &__blue-button
    width 100%
    text-align center
    margin-bottom 15px
  &__nds
    color $lightGray
    margin-bottom 20px
    & .price-rub__title
      font-size 14px
    & .price-rub__inner
      font-size 14px
      margin  0 0 0 10px
      padding-right 14px
      &:before
        background-image url("/f/i/icons/rub-gray.svg")
        width 10px
        height 13px
  &__product
    order 1
  &__brands-panel
    display flex
    flex-wrap wrap
  &__brands-title
    font-size 20px
    font-weight bold
    margin-bottom 10px
    padding-top 10px
    width 100%
  &__item-brand
    width 80px
    height 36px
    display block
    background-position center center
    background-size contain
    background-repeat no-repeat
    margin-right 10px