.basket-product
  border 1px solid $lightGray
  margin-bottom 20px
  &__inner
    display flex
    flex-wrap wrap
    justify-content space-between
    width 100%
    padding 40px 20px 20px 20px
    position relative
  &__img
    width 16%
    height 160px
    background-repeat no-repeat
    background-size contain
    background-position center center
    @media $desktop
      width 14%
      height 140px
    @media $laptop
      width 20%
    @media $middlePhone
      width 100%
      margin-bottom 20px
  &__name
    width 40%
    padding 0 15px
    @media $desktop
      width 36%
    @media $laptop
      width 80%
    @media $middlePhone
      width 100%
      padding 0
  &__wrap-price
    display flex
    flex-wrap wrap
    justify-content space-between
    width 44%
    @media $desktop
      width 48%
    @media $laptop
      width 100%
      margin-top 20px
  &__title
    font-size 24px
    line-height 28px
    margin-bottom 5px
    @media $desktop
      font-size 20px
      line-height 24px
    @media $laptop
      margin-bottom 20px
    @media $middlePhone
      font-size 18px
      line-height 22px
      text-align center
  &__desc
    color $gray
    font-size 16px
    display flex
    @media $middlePhone
      justify-content: center;
  &__desc-title
    margin auto 10px auto 0
  &__price-desc
    text-align center
    margin-bottom 10px
    color $gray
  &__price-rub
    margin 0
  &__price
    width 30%
    @media $middlePhone
      width 100%
  &__count
    margin 0 15px
    @media $middlePhone
      margin 20px auto
  &__close
    position absolute
    top 5px
    right 5px
    width 30px
    height 30px
    background-image url("/f/i/icons/close.svg")
    background-size contain
    background-position center center
    background-repeat no-repeat
  &__brand
    width 80px
    height 36px
    display block
    background-position center center
    background-size contain
    background-repeat no-repeat