.best-brands
  &__inner
    margin 0 -10px
    display flex
    flex-wrap wrap
    @media $phone
      margin 0 -5px
  &__link-item img,
  &__item
    width 100%
  &__link-item img
    margin: auto;
    display: flex;
  &__link-item
    width 10%
    margin 20px 10px 20px 10px
    @media $phone
      width 20%
      margin 0 5px 20px 5px