.blogs
  sectionBottom()
  @media $tablet
    display none
  &__inner
    position relative
  &__title
    position absolute
    left 50px
    top 65px
    transform translateX(-50%) translateY(50%)  rotateZ(-90deg)
    font-size 150px
    color #E8E8E8
    @media $laptop
      font-size 140px
  &__content
    display flex
    flex-wrap wrap
    justify-content flex-end
  &__subscribe
    width 23%
    @media $desktop
      width 28%
  &__anim-num
    width 55%
    margin-right 5%
    @media $desktop
      margin-right 3%
      width 57%