.brands
  display block
  padding 10px
  width 16%
  @media $laptop
    width 20%
  @media $tablet
    width 25%
  @media $phone
    padding 5px
    width 33.33%
  @media $middlePhone
    width 50%
  @media $smallPhone
    width 100%
  &_big
    position relative
    width 32%
    @media $laptop
      width 40%
    @media $tablet
      width 50%
    @media $phone
      width 100%
    @media $middlePhone
      width 100%
    @media $smallPhone
      width 100%
    &:before
      content ''
      position absolute
      width 30px
      height 30px
      top 30px
      right 30px
      background-image url("/f/i/icons/check.svg")
      background-size contain
      border-radius 50%
  &__inner
    display block
    padding 30px
    border 1px solid $superLightGray
    height 100%
    transition 0.3s
    @media $desktop
      padding 20px
    @media $tablet
      padding 20px
    &:hover
      box-shadow: 1px 1px 10px rgb(0 0 0 / 50%);
  &__img
    display block
    margin-bottom 40px
    height 80px
    background-size contain
    background-position center center
    background-repeat no-repeat
    @media $desktop
      margin-bottom 20px
  &__title
    display block
    text-align center
    font-weight bold
    font-size 17px
    line-height 21px
    @media $laptop
        font-size 15px
    @media $tablet
      font-size 14px
      line-height 17px
