.breadcrumbs
  margin-bottom 30px
  &__list
    @media $tablet
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      display: block;
      padding 10px
  &__point
    display inline-block
    padding-right 30px
    position relative
    @media $tablet
      line-height 12px
    @media $phone
      padding 5px 10px
      border-radius 2px
      box-shadow 0px 0px 7px rgba(0, 0, 0, 0.1);
      margin-right 5px
    &:before
      content ''
      position absolute
      right 10px
      top 50%
      transform translateY(-50%)
      width 4px
      height 7px
      background-image url("/f/i/icons/next-gray.svg")
      background-size cover
      background-repeat no-repeat
      @media $phone
        display none
    &:last-child
      padding-right 0
      @media $phone
        padding-right inherit
      &:before
        display none

    a, span
      color $gray
      font-size 17px
      border-bottom 1px solid transparent
      transition 0.2s
      @media $tablet
        font-size 12px
        line-height 12px
    a:hover
      border-bottom 1px solid $gray