.cab-menu
  &__wrap-logo
    height 70px
    margin-bottom 20px
    padding-bottom 20px
    border-bottom 1px solid $lightGray
    text-align center
    box-sizing content-box
    @media $tablet
      display none
  &__logo
    height 100%
  &__list-line
    height 1px
    background-color $lightGray
    margin 10px 0 10px 0
  &__item-point
    position relative
    width 100%
  &__item-sum
    color #FFFFFF
    text-align center
    background-color $blue
    position absolute
    right 0
    top 50%
    border-radius 20px
    padding 5px 10px
    font-size 12px
    font-weight bold
    transform translateY(-50%)
  &__item-cash
    color $blue
    position absolute
    right 0
    top 50%
    transform translateY(-50%)
    font-size 14px
    font-weight bold
    padding-right 13px
    &:before
      content ''
      height 12px
      width 20px
      background-image url("/f/i/icons/rub-blue.svg")
      background-size contain
      background-repeat no-repeat
      background-position right center
      position absolute
      right 0
      top 50%
      transform translateY(-50%)
  &__item-link
    font-size 17px
    font-weight bold
    padding 7px 0 10px 25px
    background-position left center
    background-repeat no-repeat
    display inline-block
    &:hover
      color $blue
    &.active
      color $blue
    &.no-active
      color $lightGray
      cursor default
      pointer-events none
    &_chosen
      background-image url("/f/i/cabinet/chosen.svg")
    &_viewed
      background-image url("/f/i/cabinet/viewed.svg")
    &_comparisons
      background-image url("/f/i/cabinet/comparisons.svg")
    &_order
      background-image url("/f/i/cabinet/order.svg")
    &_cash
      background-image url("/f/i/cabinet/cash.svg")
    &_card
      background-image url("/f/i/cabinet/card.svg")
    &_personal
      background-image url("/f/i/cabinet/personal.svg")
    &_subscription
      background-image url("/f/i/cabinet/subscription.svg")
    &_contractor
      background-image url("/f/i/cabinet/contractor.svg")
    &_exit
      background-image url("/f/i/cabinet/exit.svg")
  &__user-menu
    display none
    position fixed
    width 100%
    bottom 0
    left 0