.cabinet
  &__inner
    padding-left 350px
    position relative
    margin-top 50px
    @media $tablet
      padding-left 0
      margin-top 0
  &__content
    padding-bottom 50px
    padding-top 30px
  &__menu
    position absolute
    left 0
    top 0
    width 240px
    height 100%
    background-color #FFFFFF
    transition 0.3s
    z-index 999
    @media $tablet
      width 0
      overflow hidden
    &.open
      @media $tablet
        width 100%
  &__main
    min-height 600px
  &__title
    font-size 40px
    font-weight bold
    margin-bottom 20px
    @media $tablet
      text-align center
      font-size 15px
      position relative
      padding-left 20px
    &:before
      @media $tablet
        content ''
        width 12px
        height 12px
        position absolute
        left 0
        top 50%
        transform translateY(-50%) rotate(90deg)
        background-image url("/f/i/icons/arrow-bottom.svg")
        background-position center center
        background-size contain
        background-repeat no-repeat
  &__products
    display flex
    flex-wrap wrap
  &__item-product
    width 20%
    @media $desktop
      width 25%
    @media $laptop
      width 33.3%
    @media $phone
      width 50%
    .product-price__inner
      @media $desktop
        padding 20px 15px
      @media $phone
        padding 10px
  &__products
    sectionBottom()
  &__text, .empty__result
    font-size 17px
    line-height 24px
    margin-bottom 30px
    @media $phone
      margin-top 100px
      text-align center
  &__cards
    margin-bottom 30px
    display flex
    flex-wrap wrap
  &__card
    margin-right 20px
    margin-bottom 20px
    @media $tablet
      margin-right 13px
    @media $smallPhone
      margin-right 0
    &:nth-last-child(1)
      margin-right 0
  &__wrap-btn
    @media $phone
      text-align center
  &__form
    max-width 560px
  &__gray-text
    font-size 15px
    color $gray
    font-weight bold
    margin-bottom 40px
  &__sub-title
    font-size 20px
    font-weight bold
    margin-bottom 20px
  &__wrap-cash
    max-width 1050px
    display flex
    flex-wrap wrap
    justify-content space-between
  &__balance
    margin auto 0
    @media $phone
      width 100%
      order 1
      text-align center
      margin-bottom 80px
  &__discount-card
    @media $laptop
      margin-bottom 30px
    @media $phone
      order 2
      margin 0 auto