.calculator
    margin-top: 100px
    margin-bottom: 100px
    @media $phone
        margin-top: 0
        sectionBottom()
    &__inner
        padding: 0 20%
        position relative
        @media $phone
            padding: 0
    &__img
        width 100%
    &__button
        display block
        position absolute
        background-color $blue
        padding 15px 30px
        font-size 22px
        color #ffffff
        border none
        cursor pointer
        transition 0.3s
        font-family $Geometria
        z-index 99
        &:hover, &:active, &:focus
            background-color #2b3465
            color #ffffff
            text-decoration none
            //border 3px solid #fff
        @media $tablet
            font-size 18px
        &_bathroom
            top 100px
            right 0
            @media $desktop
                top 0
                right 0
        &_garage
            top 300px
            right 0
            @media $desktop
                top 200px
                right 0
            @media $laptop
                top 160px
                right 0
            @media $tablet
                top 120px
                right 0
        &_hallway
            top 550px
            right 0
            @media $desktop
                top 400px
                right 0
            @media $laptop
                top 340px
                right 0
            @media $tablet
                top 240px
        &_children
            top 800px
            right 10%
            @media $desktop
                top 600px
                right 0
            @media $laptop
                top 500px
                right 0
            @media $tablet
                top 350px
                right 0
        &_garden
            left 5%
            top 850px
            @media $desktop
                top 600px
                left 0
            @media $laptop
                top 500px
                left 0
            @media $tablet
                top 350px
        &_kitchen
            top 550px
            left 0
            @media $desktop
                top 400px
                left 0
            @media $laptop
                top 340px
                left 0
            @media $tablet
                top 240px
        &_sauna
            top 300px
            left 0
            @media $desktop
                left 0
                top 200px
            @media $laptop
                left 0
                top 160px
            @media $tablet
                top 120px
        &_bedroom
            top 100px
            left 5%
            @media $desktop
                left 0
                top 0
    &__point
        height 10px
        position absolute;
        &:before
            content ' '
            position absolute;
            left 0
            top 0
            height: 10px
            width 10px
            border-radius: 50%
            background-color: $blue
        &:after
            content ' '
            position absolute;
            height 2px
            width: 100%
            top 4px
            background-color: $blue
        &_bathroom
            top 205px
            right 205px
            width 437px
            transform: rotate(-24deg)
            @media $desktop
                top 133px
                right 190px
                width 340px
                transform: rotate(-42deg)
            @media $laptop
                top 98px
                right 190px
                width 232px
                transform: rotate(-48deg)
            @media $tablet
                top 75px
                right 176px
                width 133px
                transform: rotate(-55deg)
        &_garage
            top 347px
            right 99px
            width 347px
            transform: rotate(-10deg)
            @media $desktop
                top 244px
                right 120px
                width 251px
                transform: rotate(-10deg)
            @media $laptop
                top 209px
                right 120px
                width 190px
                transform: rotate(-16deg)
            @media $tablet
                top 154px
                right 106px
                width 117px
                transform: rotate(-16deg)
        &_hallway
            top 558px
            right 128px
            width 485px
            transform: rotate(4deg)
            @media $desktop
                top 429px
                right 170px
                width 319px
                transform: rotate(-2deg)
            @media $laptop
                top 351px
                right 170px
                width 217px
                transform: rotate(6deg)
            @media $tablet
                top 254px
                right 148px
                width 133px
                transform: rotate(6deg)
        &_children
            top 780px
            right 273px
            width 555px
            transform: rotate(10deg)
            @media $desktop
                top 604px
                right 146px
                width 526px
                transform: rotate(4deg)
            @media $laptop
                top 489px
                right 146px
                width 382px
                transform: rotate(10deg)
            @media $tablet
                top 345px
                right 123px
                width 260px
                transform: rotate(12deg)
        &_garden
            top 876px
            left 165px
            width 354px
            transform: rotate(-178deg)
            @media $desktop
                top 665px
                left 88px
                width 330px
                transform: rotate(-164deg)
            @media $laptop
                top 541px
                left 88px
                width 230px
                transform: rotate(-170deg)
            @media $tablet
                top 386px
                left 88px
                width 146px
                transform: rotate(-167deg)
        &_kitchen
            top 548px
            left 99px
            width 695px
            transform: rotate(-184deg)
            @media $desktop
                top 405px
                left 117px
                width 464px
                transform: rotate(-184deg)
            @media $laptop
                top 332px
                left 117px
                width 362px
                transform: rotate(-190deg)
            @media $tablet
                top 239px
                left 109px
                width 237px
                transform: rotate(-190deg)
        &_sauna
            top 362px
            left 96px
            width 391px
            transform: rotate(-166deg)
            @media $desktop
                top 275px
                left 115px
                width 288px
                transform: rotate(-158deg)
            @media $laptop
                top 221px
                left 115px
                width 206px
                transform: rotate(-157deg)
            @media $tablet
                top 162px
                left 106px
                width 125px
                transform: rotate(-157deg)
        &_bedroom
            top 250px
            left 170px
            width 535px
            transform: rotate(-146deg)
            @media $desktop
                top 170px
                left 107px
                width 457px
                transform: rotate(-139deg)
            @media $laptop
                top 136px
                left 107px
                width 345px
                transform: rotate(-135deg)
            @media $tablet
                top 99px
                left 107px
                width 224px
                transform: rotate(-132deg)
    &__wrap-img-button
        display: flex
        flex-wrap: wrap
        justify-content: space-between
    &__img-button
        background-size: cover
        background-position: center center
        display: block
        height 160px
        width 48%
        margin-bottom: 4vw
        position: relative
        border-radius: 5px
        @media $middlePhone
            width 100%
        &:before
            content: ''
            display: block
            position: absolute
            width: 100%
            height: 100%
            background-color: $blue
            opacity: 0.5
            border-radius: 5px
    &__text-img-button
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        font-size: 34px
        font-weight: bold
        color: #fff
        text-transform: uppercase
        font-style: italic
        line-height: 40px