.card-product
  &__inner
    display flex
    flex-wrap wrap
    justify-content space-between
  &__about-product
    display flex
    flex-wrap wrap
    justify-content space-between
  &__about-title
    font-size 30px
    font-weight bold
    margin-bottom 30px
    @media $laptop
      font-size 26px
      margin-bottom 20px
  &__about-list
    width 430px
    margin-right 120px
    @media $desktop
      width 415px
      margin-right 60px
    @media $laptop
      width 278px
      margin-right 40px
  &__image-product
    @media $tablet
      width 100%
  &__item-point
    font-size 17px
    margin-bottom 15px
    padding-right 100px
    position relative
    font-weight bold
    @media $laptop
      font-size 15px
      padding-right 80px
    span
      position absolute
      right 0

