.card
  overflow hidden
  border-radius 12px
  background-color $darkGray
  width 300px
  height 188px
  @media $tablet
    width 234px
    height 146px
  @media $phone
    width 300px
    height 188px
  &.no-active
    background-color #85848C
  &__inner
    padding 30px
    height 100%
    position relative
    @media $tablet
      padding 28px
    @media $phone
      padding 30px
  &__number
    color #FFFFFF
    font-size 20px
    font-weight bold
    letter-spacing 1.6px
    @media $tablet
      font-size 15px
      letter-spacing 1px
    @media $phone
      font-size 20px
      letter-spacing 1.6px
    @media $smallPhone
      letter-spacing 0.4px
  &__discount
    color #FFFFFF
    font-weight bold
    position absolute
    font-size 45px
    left 30px
    bottom 30px
    @media $tablet
      font-size 35px
      left 28px
      bottom 28px
    @media $phone
      font-size 45px
      left 30px
      bottom 30px
  &__button
    position absolute
    right 30px
    bottom 44px
    font-size 15px
    font-weight bold
    color #FFFFFF
    cursor pointer
    @media $tablet
      font-size 12px
      right 28px
      bottom 40px
    @media $phone
      right 30px
      bottom 44px
      font-size 15px