.catalog
  &__inner
    padding-left 400px
    position relative
    margin-bottom 60px
    min-height 900px
    @media $desktop
      padding-left 340px
    @media $tablet
      padding-left 0
      position static
      margin-bottom 40px
  &__product
    position relative
  &__wrap-product
    display flex
    flex-wrap wrap
    justify-content space-between
    position relative
    padding-top 30px
    position relative
    margin-bottom 50px
  &__item-product
    width 22%
    @media $laptop
      width 30%
    @media $phone
      width 48%
    .product-price__inner
        padding-right 0
        padding-left 0
  &__sorting
    position absolute
    width 320px
    left 0
    top 0
    @media $desktop
      width 300px
    @media $tablet
      display none
    &_mobile
      top 0
      left 0
      width 100%
      position fixed
      background-color #fff
      z-index 99
      padding 30px 20px
      height 100vh
      overflow-y: scroll
      &:before
        content ''
        position absolute
        left 0
        top 0
        width 100%
        height 100vh
        background-color #ffffff
        pointer-events none
        z-index -1
  &__rating
    width 180px
    margin-bottom 10px
    @media $phone
      transform scale(0.7) translateX(-20%)
  &__extra-btn
    margin-bottom 30px
  &__mobile-head-title
    font-size 20px
    font-weight bold
    margin-bottom 16px
    position relative
  &__sort-title
    font-size 20px
    font-weight bold
    margin-bottom 16px
    position relative
    &:before
      display none
      content ''
      position absolute
      right 5px
      top 50%
      transform translateY(-50%)
      background-image url("/f/i/icons/arrow-right-gray.svg")
      background-position center center
      background-size content
      background-repeat no-repeat
      width 8px
      height 10px
      transition 0.3s
      @media $phone
        display block
    &.open
      &:before
        transform translateY(-50%) rotate(90deg)

  &__item-sort
    border-bottom 1px solid $lightGray
    padding-top 15px
  &__add-brand
    color $blue
    font-size 17px
    margin-bottom 15px
    cursor pointer
    &_arrow
      position relative
      display inline-block
      padding-right 20px
      font-weight bold
      &:before
        content ''
        position absolute
        background-image url("/f/i/icons/arrow-down.svg")
        background-position center center
        background-size contain
        background-repeat no-repeat
        right 0
        top 50%
        transform translateY(-50%)
        width 14px
        height 14px
        transition 0.3s
      &.open
        &:before
          transform translateY(-48%) rotate(180deg)

  &__sorting-show
      @media $tablet
        display none
      li
        display inline-block
        background-color $superLightGray
        padding 5px 30px 5px 8px
        font-size 15px
        position relative
        margin-right 5px
        margin-bottom 5px
  &__close-item
      position absolute
      right 0
      top 0
      height 100%
      width 30px
      cursor pointer
      &:before
        content ''
        position absolute
        background-image url("/f/i/icons/close.svg")
        background-size 70% 70%
        background-repeat no-repeat
        background-position center center
        height 100%
        width 100%
        display block
  &__mobile-head
    display none
    flex-wrap wrap
    justify-content space-between
    margin-bottom 30px
    @media $tablet
      display flex
  &__blue-button
    font-size 16px
    padding 15px 60px
    border-radius 3px
    @media $phone
      width 100%
      padding 15px 15px
  &__wrap-found-btn
    text-align center
    margin-top 30px
  &__subcategory-button
    margin 10px calc(50% - 80px) 0 calc(50% - 80px)
  &__product-title
    font-size 30px
    padding-top 60px
    font-weight bold
    @media $tablet
      font-size 25px
      padding-top 40px
  .form-data
    padding-bottom 10px
  &__show-more-button
    margin 0 auto 60px 50%
    transform translateX(-50%)

