.category
  display block
  padding 20px
  @media $laptop
    padding 15px
  @media $phone
    padding 5px
  &__inner
    display block
    padding 40px
    border 1px solid $superLightGray
    height 100%
    transition 0.3s
    @media $tablet
      padding 20px
    @media $smallPhone
      padding 10px
    &:hover
      box-shadow: 1px 1px 10px rgb(0 0 0 / 50%);
  &__img
    display block
    margin-bottom 40px
    height 80px
    background-size contain
    background-position center center
    background-repeat no-repeat
    @media $desktop
      height 65px
      margin-bottom 16px
    @media $tablet
      margin-bottom 30px
    @media $smallPhone
      margin-bottom 15px
  &__title
    display block
    text-align center
    font-weight bold
    font-size 17px
    line-height 21px
    @media $phone
      font-size 14px
      line-height 17px
