.choice
  &__inner
    height 670px
    width 1136px
    background-size contain
    position relative
    @media $desktop
      width 1004px
      height 592px
    @media $tablet
      width 728px
      height 429px
  &__point
    position absolute
    width 30px
    height 30px
    background-image url("/f/i/icons/point.svg")
    background-size cover
    cursor pointer
    @media $tablet
      width 20px
      height 20px
  &__point-living-1
    left: 8.2%;
    top: 36%;
  &__point-living-2
    left: 53.4%;
    top: 22%;
