.circles-pulse
  border-radius 50%
  background-color rgba(255,255,255,0.4)
  z-index 7
  &__c1
    position absolute
    border-radius 50%
    background-color rgba(255,255,255,0.4)
    width 70%
    height 70%
    top 50%
    left 50%
    transform translateX(-50%) translateY(-50%)
    z-index 8
  &__c2
    position absolute
    border-radius 50%
    background-color rgba(255,255,255,0.4)
    width 60%
    height 60%
    top 50%
    left 50%
    transform translateX(-50%) translateY(-50%)
    z-index 9