.compare
  min-height 300px
  sectionBottom()
  &__inner
    display flex
    flex-wrap wrap
    width 100%
    &.slick-slider
      position relative
  &__property
    overflow hidden
  &__property:nth-child(2n)
    background-color $superLightGray
  &__property-title
    padding 10px
    font-weight bold
  &__property-desc
    padding 0 10px 10px 10px
    margin-bottom 10px
    height: 43px
    overflow hidden
    line-height 20px
  &__property-title
    color transparent
  &__item:nth-child(1)
    .compare__property-title
      color #000
  &__arrow
    position absolute
    top 50%
    height 53px
    width 53px
    background-image url("/f/i/icons/arrow-circle.svg")
    background-size cover
    z-index 9
    cursor pointer
    background-color $lightGray
    border-radius 50%
    opacity 0.4
    transition 0.3s
    &:hover
      opacity 1
    &_right
      right 10px
    &_left
      left 10px
      transform rotate(180deg)

  &__rating
    width 140px
    margin-bottom 15px

