.contacts
  &__inner
    display flex
    flex-wrap wrap
    justify-content space-between
    margin-bottom 60px
    min-height 900px
  &__panel
    width 400px
    @media $laptop
      width 100%
      display: block
      overflow-x scroll
      white-space: nowrap;
  &__main
    width calc(100% - 400px - 40px)
    order 2
    @media $laptop
      width 100%
  &__desc
    font-size 16px
    font-weight bold
    line-height 20px
    margin-bottom 40px
    border-left 4px solid $blue
    padding-left 20px
  &__shops
    display flex
    flex-wrap wrap
    margin-bottom 40px
  &__item-shop
    display flex
    flex-wrap wrap
    width 50%
    padding-right 20px
    @media $desktop
      width 100%
      padding-right: 0
  &__shop-wrap-img
    width 200px
    @media $phone
      width 120px
    @media $middlePhone
      width 100%
      margin-bottom: 10px
    img
      width 100%
  &__shop-info
    width calc(100% - 200px)
    padding-left 10px
    @media $phone
      width calc(100% - 120px)
    @media $middlePhone
      width 100%
  &__shop-title
    font-weight bold
    font-size 22px
    margin-bottom 10px
  &__shop-phone
    display block
    font-size 16px
    line-height 22px
    font-weight bold
    margin-bottom 10px
    padding-left 30px
    position relative
    &:before
      content ''
      position absolute
      height 20px
      width 20px
      left 0
      top 3px
      background-position center center
      background-size contain
      background-image url("/f/i/icons/phone-call.svg")
    @media $phone
      font-size: 14px
      margin-bottom 5px
  &__shop-mail
    display block
    font-size 16px
    line-height 22px
    font-weight bold
    margin-bottom 10px
    padding-left 30px
    position relative
    &:before
      content ''
      position absolute
      height 20px
      width 20px
      left 0
      top 3px
      background-position center center
      background-size contain
      background-image url("/f/i/icons/email.svg")
    @media $phone
      font-size: 14px
      margin-bottom 5px
  &__shop-adress
    font-size 16px
    line-height 22px
    font-weight bold
    margin-bottom 10px
    padding-left 30px
    position relative
    &:before
      content ''
      position absolute
      height 20px
      width 20px
      left 0
      top 3px
      background-position center center
      background-size contain
      background-image url("/f/i/icons/map-point.svg")
    @media $phone
      font-size: 14px
      margin-bottom 5px
  &__shop-clock
    font-size 16px
    line-height 22px
    font-weight bold
    margin-bottom 10px
    padding-left 30px
    position relative
    &:before
      content ''
      position absolute
      height 20px
      width 20px
      left 0
      top 3px
      background-position center center
      background-size contain
      background-image url("/f/i/icons/wall-clock.svg")
    @media $phone
      font-size: 14px
      margin-bottom 5px
  &__item-shop
    margin-bottom 20px
  &__title
    font-size 32px
    font-weight bold
    margin-bottom 40px
    @media $tablet
      font-size 28px
    @media $smallPhone
      font-size 26px
  &__map
    margin-bottom 40px
