.content
	max-width: 1640px;
	margin: auto;
	padding 0 20px;
	display block
	@media $desktop
		max-width 1320px
	@media $laptop
		max-width 1044px
	@media $tablet
		max-width 768px
	@media $phone
		max-width 100%

	