.count
  background-color $blue
  width 126px
  height 50px
  border-radius 30px
  padding 5px 6px
  transition 0.3s
  &__minus, &__plus
    background-color transparent
    border none
    color #ffffff
    font-size 32px
    cursor pointer
  &__sum
    text-align center
    font-size 24px
    background-color transparent
    border none
    color #ffffff
    width 50px
  &.no-active
    padding 0
    height 0
    width 0
    overflow hidden
