.description-product
  border-top 1px solid $superLightGray
  padding-top 30px
  margin-top 10px
  padding-bottom 30px
  border-bottom 2px solid $superLightGray
  &__inner
    padding-left calc(220px + 10%)
    padding-right calc(320px + 6%)
    position relative
    @media $desktop
      padding-left calc(150px + 10%)
    @media $laptop
      padding-right calc(280px + 6%)
      padding-left calc(130px + 10%)
    @media $tablet
      padding 0 0 380px 0
  &__title
    position absolute
    font-size 26px
    left 0
    top 0
    font-weight bold
    @media $laptop
      font-size 20px
    @media $tablet
      display none
  &__appraisals
    position absolute
    right 0
    top 0
    @media $tablet
      top auto
      right auto
      bottom 40px
      left 50%
      transform translateX(-50%)
  &__reviews.reviews
    position relative
    min-height 380px
  &__content
    font-size 18px
    line-height 28px
    font-weight bold
    @media $laptop
      font-size 14px
      line-height 23px
    articleTags()
  &__appraisals-empty
    margin-bottom 20px
  &_no-title
    .description-product__inner
      padding-left 0
      padding-right 0
    .description-product__content
      font-weight normal
      max-width 960px
      margin 0 auto

