.discount-card
  overflow hidden
  border-radius 12px
  background-color $darkGray
  width 400px
  height 250px
  max-width 100%
  @media $tablet
    width 364px
    height 228px
  @media $smallPhone
    width 320px
  &__inner
    padding 27px
    position relative
    height 100%
  &__title
    color #FFFFFF
    font-size 22px
    line-height 30px
    margin-bottom 30px
    @media $tablet
      font-size 16px
      line-height 23px
  &__button
    position absolute
    left 27px
    bottom 27px
  &__input
    color #FFFFFF
    background-color transparent
    border none
    font-size 22px
    width 100%
    letter-spacing 2px
    @media $phone
      font-size 16px
    &::-webkit-input-placeholder
      color #FFFFFF
      letter-spacing 3px
      @media $phone
        letter-spacing 2.4px
    &::-moz-placeholder
      color #FFFFFF
      letter-spacing 3px
      @media $phone
        letter-spacing 2.4px
    &:-moz-placeholder
      color #FFFFFF
      letter-spacing 3px
      @media $phone
        letter-spacing 2.4px
    &:-ms-input-placeholder
      color #FFFFFF
      letter-spacing 3px
      @media $phone
        letter-spacing 2.4px