.empty
  &__inner
    padding 40px 0
  &__center-img
    width 200px
    max-width 70%
    display block
    margin 0 auto 40px auto
  &__center-text
    text-align center
    font-weight bold
    font-size 16px
    line-height 20px