.footer
	background-color $darkGray
	&__inner
		display flex
		flex-wrap wrap
		justify-content space-between
		padding 70px 0
	&__coll
		width 20%
		@media $laptop
			width 25%
		@media $tablet
			width 50%
		@media $smallPhone
			width 100%
			margin-bottom 20px
		&_contacts
			@media $laptop
				padding-top 40px
				padding-right 20px
				padding-left 20px
				width 100%
				display flex
				flex-wrap wrap
				justify-content space-between
	&__title
		color $gray
		font-size 17px
		text-transform uppercase
		margin-bottom 15px
		width 100%
		&:before
			content '— '
			line-height 17px
		&_no-line
			&:before
				content ''
	&__link
		color $lightGray
		display table
		margin-bottom 10px
		border-bottom 1px solid transparent
		margin-left 20px
		cursor pointer
		transition 0.2s
		&:hover
			border-color $lightGray
	&__phone
		color #fff
		margin-bottom 10px
		display block
		font-size 22px

	&__social-list
		width 200px
		display flex
		flex-wrap wrap
		justify-content space-between
		margin-bottom 40px
	&__social-item
		display inline-block
		background-position center center
		background-repeat no-repeat
		background-size contain
		height 23px
		&_fb
			background-image url("/f/i/social/fb.svg")
			width 23px
		&_in
			background-image url("/f/i/social/in.svg")
			width 23px

		&_yt
			background-image url("/f/i/social/yt.svg")
			width 23px
		&_vk
			background-image url("/f/i/social/vk.svg")
			width 25px