.general
  sectionBottom()
  &__inner
    display flex
    flex-wrap wrap
    margin-right -20px
    margin-left -20px
    @media $laptop
      margin-right -15px
      margin-left -15px
    @media $phone
      margin-right -5px
      margin-left -5px
  &__category
    width 20%
    @media $desktop
      width 25%
    @media $laptop
      width 33.33%
    @media $phone
      width 50%
    @media $smallPhone
      width 100%