.header
	padding-bottom 30px
	padding-top 20px
	&__inner
		display flex
		flex-wrap wrap
		justify-content space-between
	&__left-part
		width 70%
		border-right 1px solid $lightGray
		padding-right 20px
		@media $tablet
			width calc(100% - 22px)
			border-right none
	&__right-part
		width 30%
		padding-left 20px
		@media $tablet
			width 22px
			background-image url("/f/i/icons/burger.svg")
			background-repeat no-repeat
			background-size contain
			background-position center center
	&__top-menu
		margin-bottom 20px
		@media $tablet
			display none!important
	&__menu
		@media $tablet
			display none!important


