.image-product
    sectionBottom()
    &__inner
      max-width: 800px;
      width: 100%;
    &__slider
      width: 525px
      height 550px
      display: inline-block;
      vertical-align: top;
      @media $desktop
        width 400px
        height 400px
      @media $laptop
        width 300px
        height 300px
      @media $tablet
        margin 0 auto 140px auto
        display block
      .slick-list, .slick-track
        height 100%
      .slick-list
        overflow visible
        @media $phone
          overflow hidden
      .slick-slide
        opacity: 0.2;
        transition 0.3s
      .slick-slide.slick-active
        opacity: 1;
      &_navigation
        width: 81px;
        margin-right 90px
        display: inline-block;
        vertical-align: top;
        @media $desktop
          width: 60px;
          margin-right 20px
        @media $tablet
          display none
    //&__item
      //height 100%
    &__img
      max-width 100%
      max-height 100%
      margin auto
      position: relative
      top 50%
      transform translateY(-50%)
    &__item-nav
      border 1px solid $lightGray!important
      height 96px!important
      margin-bottom 6px
      position relative
    &__dots
      position absolute
      bottom -80px
      left 50%
      transform translateX(-50%)
      @media $phone
        width 100%
        text-align center
      button
        border none
        font-size 0
        line-height 0
        background-color rgba(35,56,147,0.6)
        width 8px
        height 8px
        border-radius 50%
        padding 0
        position absolute
        left 50%
        top 50%
        transform translateX(-50%) translateY(-50%)
        transition 0.3s
      li
        display inline-block
        margin 0 17px
        width 8px
        height 24px
        position relative
        transition 0.3s
        &.slick-active
          width 24px
          height 24px
          background-color rgba(35,56,147,0.4)
          border-radius 50%
          button
            width 12px
            height 12px
            background-color rgba(35,56,147,1)
    &__img-nav
      position relative
      top 50%
      transform translateY(-50%)
      max-width 100%
      max-height: 100%
      margin: auto
    &__arrow
      background-image: url('/f/i/icons/arrow-partners.svg');
      width: 52px;
      height: 52px;
      background-size contain
      background-position center center
      z-index 999
      position relative
      left 50%
      &_prev
        transform translateX(-50%) rotate(90deg)
        margin-bottom 12px
      &_next
        transform  translateX(-50%)rotate(-90deg)
        margin-top 12px


@media screen and (max-width: 500px) {
  .image-product__slider {
    width: 100%;

    &_navigation {
      width: 100%;
    }
  }
}

.zoomContainer {
  z-index: 9000;
}
