.info-product
  margin-bottom 90px
  &__inner
    display flex
    flex-wrap wrap
    justify-content space-between
  &__rating
    width 520px
    @media $tablet
      width auto
    .rating__heart-label
      font-size 17px
      width auto
      background-size 20px 20px
      background-position top left
      padding-left 25px
      &.active
        color $blue
    .rating__chart-label
      font-size 17px
      width auto
      background-size 20px 20px
      background-position top left
      padding-left 25px
      &.active
        color $blue
  &__share.share
    @media $tablet
      font-size 0