.info-blog
    margin-bottom: 10px
    &__inner
        display: flex
        flex-wrap: wrap
        justify-content: space-between
    &__author
        display: flex
        margin-bottom: 15px
    &__photo
        width: 50px
        height 50px
        border-radius: 50%
        background-size: cover
        background-position: center center
        margin-right: 10px
        background-image: url('/f/i/icons/user2.svg')
        @media $phone
            width: 30px
            height 30px
    &__name
        font-size: 16px
        color $blue
        font-weight: bold
        margin-top: auto
        margin-bottom: auto
        margin-right: 20px
    &__date
        color: $gray
        font-size: 16px
        margin-top: auto
        margin-bottom: auto
        position: relative
        padding-left: 27px
        white-space: nowrap;
        @media $phone
            font-size: 14px
            padding-left: 25px
        &:before
            content: ''
            position: absolute
            left 0
            top 50%
            transform: translateY(-50%)
            width 19px
            height 19px
            background-image: url('/f/i/icons/wall-clock-gray.svg')
            background-size: cover
            background-position: center center
    &__social
        display flex
        margin-bottom: 15px
    &__like, &__comment, &__share
        font-size: 16px
        padding-left: 25px
        position: relative
        color: $gray
        cursor pointer
        display inline-block
        margin auto 0 auto 20px
        @media $phone
            font-size 14px
        &:before
            content ''
            position: absolute
            width 20px
            height 20px
            background-size: cover
            background-position center center
            left: 0
            top: 50%
            transform: translateY(-50%)
        &:hover
            color $blue
    &__like
        &:before
            background-image url('/f/i/icons/like-gray.svg')
        &:hover
            &:before
                background-image url('/f/i/icons/like-blue.svg')
    &__comment
        &:before
            background-image url('/f/i/icons/comment-gray.svg')
        &:hover
            &:before
                background-image url('/f/i/icons/comment-blue.svg')
    &__share
        @media $smallPhone
            font-size 0
        &:before
            background-image url('/f/i/icons/share-gray.svg')
        &:hover
            &:before
                background-image url('/f/i/icons/share-blue.svg')

