.info-product-tablet
  margin-bottom 25px
  &__title-page.title-page
    font-size 20px
    line-height 30px
    margin-bottom 15px
  &__rating
    width 220px
    margin-bottom 15px
  &__code
    font-size 14px
    font-weight bold
    margin-bottom 15px
  &__price-rub .price-rub__inner
    font-size 25px
    margin 0
    padding-right 18px
    &:before
      width: 12px;
      height: 16px;

