.item-article
  &__image
    width 100%
    height 300px
    background-repeat no-repeat
    background-size cover
    background-position center center
    display block
    margin-bottom 15px
    @media $laptop
      height 200px
  &__date
    margin-bottom 15px
    font-size 16px
    color $lightGray
  &__title
    display block
    font-size 20px
    line-height 28px
    margin-bottom 15px
    font-weight bold
    height 58px
    overflow hidden
    @media $laptop
      height 82px
  &__description
    display block
    font-size 16px
    line-height 24px
    height 74px
    overflow hidden
    @media $laptop
      height 100px
