.item-blog
  width calc(25% - 2vw)
  margin-right 2vw
  margin-bottom 2vw
  @media $laptop
    width calc(33% - 2vw)
  @media $tablet
    width calc(50% - 2vw)
  @media $phone
    width calc(100% - 2vw)
    margin-bottom: 40px
  &__image
    width 100%
    height 250px
    background-repeat no-repeat
    background-size cover
    background-position center center
    display block
    margin-bottom 15px
    @media $desktop
      height 200px
  &__date
    margin-bottom 15px
    font-size 16px
    color $lightGray
  &__title
    display block
    font-size 20px
    line-height 28px
    margin-bottom 15px
    font-weight bold
    overflow hidden
  &__description
    display block
    font-size 16px
    line-height 24px
    overflow hidden
    margin-bottom: 20px
