.l-partners-blocks
  &__inner
    margin 0 -1vw
    display flex
    flex-wrap wrap
  &__item
    width calc(20% - 2vw)
    height 289px
    margin 0 1vw 2vw 1vw
    position relative
    background-size cover
    background-position center center
    background-repeat no-repeat
    @media $desktop
      height 296px
    @media $laptop
      height 232px
    @media $tablet
      width calc(33.33% - 2vw)
    @media $phone
      width calc(50% - 2vw)
      height 30vw
    @media $middlePhone
      width calc(50% - 2vw)
      height 45vw
    @media $smallPhone
      width calc(100% - 2vw)
      height 86vw
    &:before
      content ''
      display block
      position absolute
      left 0
      top 0
      width 100%
      height 100%
      background-color rgba(0, 0, 0, 0.3)
      transition 0.3s
    &:hover
      &:before
        background-color rgba(0, 0, 0, 0)
      .l-partners-blocks__title
        background-color rgba(0, 0, 0, 0.3)
  &__title
    transition 0.3s
    display block
    position absolute
    background-color rgba(0, 0, 0, 0.1)
    top 50%
    transform translateY(-50%)
    font-weight bold
    left 20px
    right 20px
    font-size 20px
    line-height 24px
    color #fff
    padding 10px

