.link-arrow
  display inline-block
  padding-right 50px
  position relative
  cursor pointer
  &:before
    content ''
    background-image url("/f/i/icons/arrow-right.svg")
    width 24px
    height 24px
    position absolute
    right 20px
    top 50%
    transform translateY(-50%)
    transition 0.6s
  &.active
    &:before
      right 0
