.link-arrow-top
  padding-right 20px
  display inline-block
  position relative
  font-size 18px
  text-transform uppercase
  color $blue
  font-weight bold
  margin auto
  &:before
    content ''
    position absolute
    right 0
    top 50%
    transform translateY(-50%)
    background-image url("/f/i/icons/arrow-up-right.svg")
    background-position center center
    height 14px
    width 14px