.main-top
  &__inner
    display flex
    flex-wrap wrap
    justify-content space-between
  &__logo
    width 182px
    height 58px
    background-image url("/f/i/icons/faza.svg")
    background-position center center
    background-size cover
    background-repeat no-repeat
    @media $tablet
      width 88px
      height 28px
  &__button-catalog, &__search
    margin 10px 0 0 0
  &__search
    width calc(100% - 400px)
    @media $tablet
      width calc(100% - 100px)
      margin 0
  &__button-catalog
    @media $tablet
      display none!important
    &.open
      color #ffffff
      background-color $blue
      z-index 99999
      &:before
        background-image: url(/f/i/icons/close-white.svg);