.menu
  display none
  position fixed
  margin 0
  padding 0
  width 100vw
  height 100vh
  top 0
  left 0
  z-index 9999
  overflow hidden
  background: rgba(255, 255, 255, 0.2); // Make sure this color has an opacity of less than 1
  backdrop-filter: blur(6px); // This be the blur
  overflow-y scroll
  &__inner
    position absolute
    left 50%
    top 100px
    transform translateX(-50%)
    background-color #ffffff
    display flex
    flex-wrap wrap
    border-radius 5px
    box-shadow 1px 1px 10px rgba(0, 0, 0, 0.5);
  &__tabs
    background-color $blue
    width 63%
    border-radius 5px 0 0 5px
  &__partners
    width 37%
    display flex
    flex-wrap wrap
    justify-content center
  &__partners-item
    height 96px
    width 20%
    margin 5px 5%
    display flex
  &__partners-item img,
  &__partners-img
    max-width 100%
    max-height 96px
    margin auto
  &__tabs
    display flex
    flex-wrap wrap
    padding 20px 0
  &__item-tab
    &.active
      background-color $lightBlue
  &__list-tab
    width 40%
    border-right 1px solid $lightBlue
  &__tabs-content
    width 0
    &.active
      width auto
  &__link-tab
    color #ffffff
    padding 5px 20px 5px 40px
    font-size 16px
    line-height 22px
    display block
    @media $laptop
      font-size 14px

