.merit
  width 100%
  &__inner
    display flex
    flex-wrap wrap
    justify-content space-between
  &__item
    width 45%
    font-size 18px
    font-weight bold
    line-height 28px
    position relative
    padding-left 60px
    @media $tablet
      font-size 14px
      width 100%
      margin-bottom 30px
      &:last-child
        margin-bottom 0
    &:before
      content ''
      width 30px
      height 30px
      position absolute
      background-repeat no-repeat
      background-size contain
      background-position center center
      left 0
      top 5px
    &_like
      &:before
        background-image url("/f/i/icons/like.svg")
    &_dislike
      &:before
        background-image url("/f/i/icons/like.svg")
        transform rotate(180deg)
