.mobile-menu
  display none
  position absolute
  margin 0
  padding 0
  width 100vw
  height 100vh
  top 0
  left 0
  z-index 999
  overflow hidden
  background: #ffffff
  overflow-y scroll
  &__inner
    display flex
    flex-wrap wrap
    width 486px
    margin auto
    padding-top 40px
    padding-bottom 100px
    @media $phone
      max-width 90%
  &__main-list
    display block
    width 0
    transition 0.3s
    overflow hidden
    height min-content
    padding-bottom 100px
    &.active
      width 100%
  &__item
    display block
    padding 12px 0
    font-size 14px
    line-height 22px
    border-bottom 1px solid $lightGray
    font-weight bold
  &__close
    position absolute
    right 10px
    top 10px
    height 50px
    width 50px
    cursor pointer
    &:before
      content ''
      position absolute
      background-image url("/f/i/icons/close.svg")
      background-size auto
      background-position center center
      background-repeat no-repeat
      width 20px
      height 20px
      top 50%
      left 50%
      transform translateX(-50%) translateY(-50%)
  &__second-list
    width 0
    overflow hidden
    transition 0.3s
    height min-content
    padding-bottom 100px
    &.active
      width 100%
  &__user-menu
    position fixed
    background-color #ffffff
    bottom 0
    width 90%
    padding 10px 5%
    box-sizing content-box
    left 50%
    transform translateX(-50%)
  &__wrap-list
    width 100%
    display flex
    flex-wrap wrap
    height 100vh
  &__item_back
    text-align center
    padding-right 10px
    padding-left 10px
    position relative
    &:before
      content ''
      position absolute
      left 0
      top 50%
      transform translateY(-50%) rotate(90deg)
      background-image url("/f/i/icons/arrow-bottom.svg")
      width 15px
      height 6px
      background-repeat no-repeat
      background-size contain
      background-position center center