.news-slider
  &__inner
    position relative
    height 100%
  &__item-slid
    position relative
    padding 60px 287px 120px 70px
    background-position center center
    background-size cover
    background-repeat no-repeat
    @media $desktop
      padding 60px 150px 120px 70px
    @media $laptop
      padding 40px 40px 100px 40px
    @media $tablet
      padding 40px 220px 120px 60px
  &__title
    font-size 30px
    line-height 36px
    margin-bottom 30px
    color #ffffff
    font-weight bold
    display block
  &__description
    color #ffffff
    font-size 18px
    line-height 28px
    height 170px
    overflow hidden
    display block
  &__arrow
    position absolute
    bottom 20px
    height 53px
    width 53px
    background-image url("/f/i/icons/arrow-circle.svg")
    background-size cover
    z-index 9
    cursor pointer
    &_right
      right 22px
    &_left
      right 100px
      transform rotate(180deg)

  &__dots
    position absolute
    bottom 40px
    left 60px
    @media $laptop
      left 30px
    @media $tablet
      left 50px
    button
      border none
      font-size 0
      line-height 0
      background-color rgba(255,255,255,0.6)
      width 8px
      height 8px
      border-radius 50%
      padding 0
      position absolute
      left 50%
      top 50%
      transform translateX(-50%) translateY(-50%)
      transition 0.3s
      @media $tablet
        width 6px
        height 6px
    li
      display inline-block
      margin 0 17px
      width 8px
      height 24px
      position relative
      transition 0.3s
      @media $tablet
        margin 0 8px
        width 6px
        height 14px
      &.slick-active
        width 24px
        height 24px
        background-color rgba(255,255,255,0.4)
        border-radius 50%
        @media $tablet
          width 14px
          height 14px
        button
          width 12px
          height 12px
          background-color #ffffff
          @media $tablet
            width 8px
            height 8px