.news
  sectionBottom()
  &__inner
    display flex
    flex-wrap wrap
    justify-content space-between
    padding 50px 0
  &__left-block, &__right-block
    width 48%
    @media $tablet
      width 100%
  &__left-block
    @media $tablet
      margin-bottom 40px
  &__title
    font-size 40px
    font-weight bold
    margin-bottom 40px
  &__wrap-title
    display flex
    flex-wrap wrap
  &__link
    display flex
    margin auto
    margin-bottom 40px
  &__wrap-articles
    display flex
    flex-wrap wrap
    justify-content space-between
  &__item-article
    width 48%
  &__link
    color $blue
