.order
  width 340px
  border 1px solid $lightGray
  @media $desktop
    width 320px
  @media $laptop
    width 300px
  &__inner
    padding 40px
    @media $desktop
      padding 30px
    @media $laptop
      padding 25px
  &__price-rub .price-rub__inner
    margin 0 0 50px 0
    font-size 35px
    &:before
      width 18px
      height 24px
  &__code
    font-size 17px
    margin-bottom 40px
    font-weight bold
  &__blue-button.blue-button
    width 100%
    font-size 18px
    margin-bottom 10px
  &__transparent-button.transparent-button
    font-size 18px
    width 100%
    padding 15px 30px
