.order-history
  &__container
    border 1px solid $blue
    margin-bottom 20px
  &__title
    font-weight bold
    font-size 24px
    margin-bottom 20px
    margin-top 40px
  &__container-head
    padding 15px 20px
    background-color #eceffd
    font-weight bold
    display flex
    flex-wrap wrap
    justify-content space-between
  &__container-content
    padding 20px