.partners-slider
  sectionBottom()
  &__inner
    padding 0 60px
    position relative
  &__link
    height 70px
    padding 0 20px
    display flex!important
    img
      margin auto
  &__arrow
    background-image url("/f/i/icons/arrow-partners.svg")
    width 52px
    height 52px
    background-size contain
    background-position center center
    cursor pointer
    position absolute
    top 50%
    transform translateY(-50%)
    &_left
      left 0
    &_right
      right 0
      transform translateY(-50%) rotate(180deg)

.slick-initialized .slick-slide.partners-slider__link
  display flex
  img
    margin auto
    max-width 100%
    max-height 100%

