.personal
  &__inner
    max-width 560px
    @media $tablet
      max-width none
  &__wrap-two
    display flex
    flex-wrap wrap
    justify-content space-between
  &__date
    width 35%
    @media $tablet
      order 2
      width 190px
  &__email
    width 62%
    @media $tablet
      order 1
      width 100%
  &__title
    font-size 26px
    font-weight bold
    margin-top 50px
    margin-bottom 20px
    @media $tablet
      font-size 20px
  &__wrap-btn
    margin-top 50px
  &__row
    display flex
    flex-wrap wrap
    margin-right -200px
    @media $laptop
      margin-right -100px
    @media $tablet
      margin-right auto
  &__coll-title
    width 35%
    font-size 17px
    font-weight bold
    padding-right 20px
    line-height 20px
    @media $tablet
      width 100%
      margin-bottom 10px
  &__coll-data
    width 65%
    @media $tablet
      width 100%
    .form-data__textarea
      font-size 16px
      line-height 26px

