.popup
  display none
  background-color rgba(0, 0, 0, 0.5)
  position fixed
  width 100%
  height 100%
  overflow-y scroll
  z-index 999
  top 0
  left 0
  &.popup-active
    display block
  &__inner
    width 480px
    max-width 100%
    position absolute
    background-color #ffffff
    left 50%
    transform translateX(-50%) translateY(-100%)
    padding 60px 80px
    top 0
    transition 0.3s
    @media $phone
      padding 40px 20px
    &.show
      top 30px
      transform translateX(-50%) translateY(0)
  &__close
    position absolute
    right 10px
    top 10px
    height 50px
    width 50px
    cursor pointer
    &:before
      content ''
      position absolute
      background-image url("/f/i/icons/close.svg")
      background-size auto
      background-position center center
      background-repeat no-repeat
      width 20px
      height 20px
      top 50%
      left 50%
      transform translateX(-50%) translateY(-50%)
  &__title
    font-size 30px
    font-weight bold
    margin-bottom 40px
  &__text
    font-size 20px
    margin-bottom 30px
    &_center
      text-align center
  &__link
    color $blue
    margin-bottom 10px
    cursor pointer
    font-size 18px
    font-weight bold
    &_bottom
      margin-bottom 30px
  &__change-popup
    position absolute
    left 0
    bottom 0
    border-top 1px solid $lightGray
    width 100%
    text-align center
    padding 25px 0
    transform: translateY(50%);
    background-color: #fff;
  &__cols-2
    display flex
    flex-wrap wrap
    justify-content space-between
  &__col-1
    width 48%
    @media $phone
      width 100%
  &__discount-card
    margin 0 auto
    @media $phone
      margin-top 30px
  &__gray-text
    color #8B8B8B
    font-size 13px
    line-height 16px
    a
      color: inherit
      text-decoration: underline


.opened-popup
  overflow hidden

.blue-button
  font-size 14px
  padding 15px 30px