.poster
  width 18%
  margin-right 2.5%
  margin-bottom 50px
  &:nth-child(5n)
    margin-right 0
  @media $laptop
    width 23%
    &:nth-child(5n)
      margin-right 2.5%
    &:nth-child(4n)
      margin-right 0
  @media $tablet
    width 31.65%
    &:nth-child(4n)
      margin-right 2.5%
    &:nth-child(3n)
      margin-right 0
  @media $phone
    margin-bottom 30px
    width 48.7%
    &:nth-child(3n)
      margin-right 2.5%
    &:nth-child(2n)
      margin-right 0
  &__img
    display block
    height 280px
    background-size cover
    background-position center center
    background-repeat no-repeat
    margin-bottom 15px
    @media $desktop
      height 230px
    @media $phone
      height 44vw
      margin-bottom 10px
  &__title
    color #000
    font-size 17px
    line-height 25px
    font-weight bold
    @media $phone
      font-size 14px
      line-height 20px