.price-rub
  display flex
  &__inner
    margin auto
    font-size 22px
    font-weight bold
    position relative
    padding-right 20px
    @media $tablet
      font-size 16px
      padding-right 14px
    &:before
      content ''
      display block
      position absolute
      top 50%
      right 0
      transform translateY(-50%)
      width 14px
      height 18px
      background-image url("/f/i/icons/rub.svg")
      background-size cover
      @media $tablet
        width 11px
        height 14px
  &__title
    font-weight bold
    font-size 24px
    @media $tablet
      font-size 16px

.htooltip span { /* Внешний вид нашего тултипа */
  background-color: rgba(0,0,0, 0.8);
  border-radius: 15px 15px 15px 0px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  color: #fff;
  margin-left: 2px;
  margin-top: -75px;
  opacity: 0; /* Делаем его прозрачным */
  padding: 10px 10px 10px 40px;
  position: absolute;
  text-decoration: none;
  visibility: hidden; /* И прячем */
  width: 350px;
  z-index: 10;
}

.htooltip:hover span { /* По hover отображаем тултип */
  opacity: 1;
  visibility: visible;
}

.htooltip span img { /* Изображение для примера */
  border: 0 none;
  float: left;
  margin: -71px 0 0 -234px;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  z-index: -1;
}

.htooltip:hover span img { /* Показываем изображение */
  opacity: 1;
  visibility: visible;
}