.product-slider
  &__item-slid
    width 240px
    padding 0 10px
  &__image
    width 100%
    height 240px
    background-repeat no-repeat
    background-position center center
    background-size contain
    margin-bottom 10px
    display block
    @media $tablet
      height 140px
  &__rating
    width 180px
    margin-bottom 10px
    max-width 100%
    @media $phone
      width 80px
  &__star
    @media $phone
      display none
  &__title
    font-size 17px
    line-height 24px
    font-weight bold
    display block
    margin-bottom 20px
    height: 74px;
    overflow: hidden;
    @media $tablet
      font-size 12px
      line-height 16px
      height: 50px;
  &__buy-price
    display flex
    flex-wrap wrap
    justify-content left
  &__price
    margin-left 20px
  &__arrow
    position absolute
    bottom 0
    height 59px
    width 80px
    background-size contain
    background-position center center
    cursor pointer
    z-index 99
    &_right
      background-image url("/f/i/icons/arrow-product-right.svg")
      right 0
    &_left
      background-image url("/f/i/icons/arrow-product-left.svg")
      left 0
  &__dots
    position absolute
    width 90%
    bottom 26px
    left 50%
    transform translateX(-50%)
    height 6px
    background-color #F1F1F1
    line-height 0
    border-radius 10px
    display flex
    @media $laptop
      width 87%
    @media $tablet
      width 82%
    @media $tablet
      width 74%
    @media $middlePhone
      width 70%
    @media $smallPhone
      width 56%
    button
      border none
      width 100%
      height 100%
      background-color transparent
      font-size 0
      position absolute
      left 0
      top 0
      cursor pointer
    li
      height 100%
      display inline-block
      line-height 0
      font-size 0
      position relative
      flex-grow: 2;
      flex-basis: 10%;
      &.slick-active
        background-color #CFD6F5
        border-radius 10px

  .slick-list
    overflow visible
    padding-bottom 100px
    @media $tablet
      padding-bottom 80px
