.product-list
  &__inner
    display flex
    flex-wrap wrap
    justify-content space-between
    padding 70px 0
  &__banner
    width 32%
    height 416px
    background-size cover
    background-position center center
    display block
    @media $desktop
      height 380px
    @media $laptop
      width 48%
    @media $tablet
      width 50%
      height 310px
    @media $phone
      width 100%
      height 72vw
      margin-bottom 14px
  &__product
    width 15%
    margin-bottom 28px
    @media $laptop
      width 23%
    @media $phone
      width 49%
      margin-bottom 14px
    @media $smallPhone
      width 100%
    & .product-price__img
      height 164px
      @media $desktop
        height 142px
      @media $tablet
        height 128px
      @media $smallPhone
        height 164px
    & .rating
      @media $desktop
        width 160px
        transform: scale(0.9) translateX(-10px)
      @media $laptop
        transform: scale(1) translateX(0)
      @media $tablet
        transform: scale(0.85) translateX(-20px)
      @media $smallPhone
        transform: scale(1) translateX(0)