.product-price
  background-color #fff
  &__inner
    padding 26px
    position relative
    @media $desktop
      padding 20px 22px
    @media $tablet
      padding 14px 16px
    @media $phone
      padding 14px 10px
  &__price
    display flex
    flex-wrap wrap
  &__img
    width 100%
    height 200px
    margin-bottom 20px
    background-size contain
    background-position center center
    background-repeat no-repeat
    display block
    @media $desktop
      height 180px
      margin-bottom 18px
    @media $tablet
      margin-bottom 10px
      height 162px
    @media $phone
      height 140px
  &__title
    font-size 17px
    line-height 24px
    font-weight bold
    margin-bottom 22px
    display block
    height 74px
    overflow hidden
    @media $tablet
      font-size 14px
      line-height 17px
      margin-bottom 16px
      height 50px
    @media $phone
      font-size 12px
      line-height 16px
  &__buy-button
    margin-right 10px
    @media $phone
      margin-right 10px
  &__sum
    display flex
    flex-wrap wrap
  &__sum-piece
    border-right 1px solid $lightGray
    font-size 18px
    font-weight bold
    padding-right 10px
    @media $phone
      font-size 14px
      padding-right 5px
  &__sum-cash
    font-size 18px
    font-weight bold
    padding-left 10px
    padding-right 18px
    position relative
    @media $phone
      font-size 14px
      padding-left 5px
    &:before
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 12px;
      height: 13px;
      background-image: url('/f/i/icons/rub.svg');
      background-size: contain
      background-repeat no-repeat
  &__date
    text-transform uppercase
    color $lightGray
    font-size 12px
    font-weight bold
    margin-top 18px
  &__remove
    opacity 0
    position absolute
    width 26px
    height 26px
    border-radius 50%
    top 10px
    right 25px
    cursor pointer
    background-image url("/f/i/icons/close-blue.svg")
    background-position center center
    background-repeat no-repeat
    background-size contain
    transition 0.3s
    z-index 99
    @media $tablet
      opacity 1
  &:hover
    .product-price__remove
      opacity 1