.promo-sliders
  sectionBottom()
  &__inner
    display flex
    flex-wrap wrap
    justify-content space-between
  &__big-slider
    width 67%
    position relative
    @media $phone
      width calc(100% + 40px)
      margin-left -20px;
      margin-right -20px;
      margin-bottom 20px
  &__small-slider
    width 31%
    position relative
    @media $phone
      width 100%
  &__l-partners-slider
    width 100%
    position relative