.promo-big-slider
  &__dots
    position absolute
    bottom 13px
    left 50%
    transform translateX(-50%)
    @media $tablet
      left auto
      right 20px
      transform none
    button
      border none
      font-size 0
      line-height 0
      background-color rgba(255,255,255,0.6)
      width 8px
      height 8px
      border-radius 50%
      padding 0
      position absolute
      left 50%
      top 50%
      transform translateX(-50%) translateY(-50%)
      transition 0.3s
      @media $tablet
        width 6px
        height 6px
    li
      display inline-block
      margin 0 17px
      width 8px
      height 24px
      position relative
      transition 0.3s
      @media $tablet
        margin 0 8px
        width 6px
        height 14px
      &.slick-active
        width 24px
        height 24px
        background-color rgba(255,255,255,0.4)
        border-radius 50%
        @media $tablet
          width 14px
          height 14px
        button
          width 12px
          height 12px
          background-color #ffffff
          @media $tablet
            width 8px
            height 8px
  &__button
    position absolute
    bottom 52px
    left 47px
    font-weight bold
    @media $tablet
      bottom 20px
      left 20px
  &__item-slid
    height 452px
    background-position center center
    background-size cover
    background-repeat no-repeat
    position relative
    @media $desktop
      height 360px
    @media $laptop
      height 288px
    @media $tablet
      height 216px
      background-position left center
    @media $phone
      height 48vw




