.promo-item
    border: 1px solid #f0eff3;
    margin-bottom: 20px
    cursor: pointer
    display: block
    &:hover
        box-shadow: 1px 1px 10px #000;
    @media $middlePhone
        border: 0
        border-bottom: 1px solid #f0eff3;
        margin-bottom: 40px
    &__inner
        display: block
        padding: 20px
        display: flex
        flex-wrap: wrap
        min-height: 240px
        justify-content: space-between
        @media $phone
            padding: 15px
        @media $middlePhone
            padding: 0
    &__title
        display: block
        font-size: 24px
        font-weight: bold
        margin-bottom: 10px
        @media $laptop
            font-size: 20px
        @media $middlePhone
            width 100%
    &__img
        display: block
        width: 20%
        background-size: cover
        background-position: center center
        @media $tablet
            order: 1
            width calc(100% - 300px)
        @media $middlePhone
            width 100%
            height 60vw
            margin-bottom: 20px
    &__content
        display: block
        width calc(76% - 300px)
        @media $tablet
            order: 3
            width 100%
            margin-top: 20px
            border-top: 1px solid #f0eff3
            padding-top: 15px
        @media $middlePhone
            margin-bottom: 20px
    &__time
        display: block
        width 300px
        border-left: 1px solid #f0eff3
        padding-left: 20px
        @media $tablet
            order: 2
        @media $middlePhone
            border-left: 0
            padding-left: 0

    &__desc
        display: block
        font-size: 16px
        line-height: 20px
        font-weight: bold
        @media $laptop
            font-size: 14px
            line-height: 18px
    &__date
        display: block
        font-size: 14px
        margin-bottom: 20px
        color: $gray
        @media $tablet
            margin-bottom: 10px
    &__title-time
        display: block
        font-size: 18px
        font-weight: bold
        margin-bottom: 20px
        @media $laptop
            font-size: 16px
    &__counter
        margin-bottom: 60px
        display: block
        @media $phone
            margin-bottom: 40px
    &__all-product
        font-size: 16px
        color $blue
        font-weight: bold
        display: inline-block
        background-image: url('/f/i/icons/arrow-up-right.svg')
        background-repeat: no-repeat
        background-position: bottom right
        background-size: auto 110%
        padding-right: 22px
        @media $phone
            font-size: 14px
    