.rating
  &__inner
    display flex
    flex-wrap wrap
    justify-content space-between
  &__heart
    &-input
      display none
      //&:checked + label
      //  background-image url("/f/i/icons/heart-blue3.svg")
      &:hover + label
        background-image url("/f/i/icons/heart-black.svg")
      //&:checked:hover + label
      //  background-image url("/f/i/icons/heart-blue3.svg")
    &-label
      display block
      width 24px
      height 23px
      background-image url("/f/i/icons/heart.svg")
      background-size cover
      background-repeat no-repeat
      background-position center center
      &.active
        background-image url("/f/i/icons/heart-blue3.svg")
        &:hover
          background-image url("/f/i/icons/heart-blue3.svg")

  &__chart
    &-input
      display none
      //&:checked + label
      //  background-image url("/f/i/icons/chart-blue.svg")
      &:hover + label
        background-image url("/f/i/icons/chart.svg")
      //&:checked:hover + label
      //  background-image url("/f/i/icons/chart-blue.svg")
    &-label
      display block
      width 24px
      height 24px
      background-image url("/f/i/icons/compare-gray.svg")
      background-size cover
      background-repeat no-repeat
      background-position center center
      &.active
        background-image url("/f/i/icons/chart-blue.svg")
        &:hover
          background-image url("/f/i/icons/chart-blue.svg")

  &__fill
    background-image url("/f/i/icons/star-active.svg")
    background-size contain
    height 100%
    width 0
  &__star
    background-image url("/f/i/icons/star-default.svg")
    background-size contain
    height 20px
    width 100px

  &__star[data-rating="0"] .rating__fill
    width: 0;

  &__star[data-rating="0.1"] .rating__fill
    width: 2%;
    background-size: cover;
    background-repeat no-repeat
  &__star[data-rating="0.2"] .rating__fill
    width: 4%;
    background-size: cover;
    background-repeat no-repeat
  &__star[data-rating="0.3"] .rating__fill
    width: 6%;
    background-size: cover;
    background-repeat no-repeat
  &__star[data-rating="0.4"] .rating__fill
    width: 8%;
    background-size: cover;
    background-repeat no-repeat
  &__star[data-rating="0.5"] .rating__fill
    width: 10%;
    background-size: cover;
    background-repeat no-repeat
  &__star[data-rating="0.6"] .rating__fill
    width: 12%;
    background-size: cover;
    background-repeat no-repeat
  &__star[data-rating="0.7"] .rating__fill
    width: 14%;
    background-size: cover;
    background-repeat no-repeat
  &__star[data-rating="0.8"] .rating__fill
    width: 16%;
    background-size: cover;
    background-repeat no-repeat
  &__star[data-rating="0.9"] .rating__fill
    width: 18%;
    background-size: cover;
    background-repeat no-repeat
  &__star[data-rating="1"] .rating__fill
    width: 20%;

  &__star[data-rating="1.1"] .rating__fill
    width: 22%;
  &__star[data-rating="1.2"] .rating__fill
    width: 24%;
  &__star[data-rating="1.3"] .rating__fill
    width: 26%;
  &__star[data-rating="1.4"] .rating__fill
    width: 28%;
  &__star[data-rating="1.5"] .rating__fill
    width: 30%;
  &__star[data-rating="1.6"] .rating__fill
    width: 32%;
  &__star[data-rating="1.7"] .rating__fill
    width: 34%;
  &__star[data-rating="1.8"] .rating__fill
    width: 36%;
  &__star[data-rating="1.9"] .rating__fill
    width: 38%;
  &__star[data-rating="2"] .rating__fill
    width: 40%;

  &__star[data-rating="2.1"] .rating__fill
    width: 42%;
  &__star[data-rating="2.2"] .rating__fill
    width: 44%;
  &__star[data-rating="2.3"] .rating__fill
    width: 46%;
  &__star[data-rating="2.4"] .rating__fill
    width: 48%;
  &__star[data-rating="2.5"] .rating__fill
    width: 50%;
  &__star[data-rating="2.6"] .rating__fill
    width: 52%;
  &__star[data-rating="2.7"] .rating__fill
    width: 54%;
  &__star[data-rating="2.8"] .rating__fill
    width: 56%;
  &__star[data-rating="2.9"] .rating__fill
    width: 58%;
  &__star[data-rating="2"] .rating__fill
    width: 60%;

  &__star[data-rating="3.1"] .rating__fill
    width: 62%;
  &__star[data-rating="3.2"] .rating__fill
    width: 64%;
  &__star[data-rating="3.3"] .rating__fill
    width: 66%;
  &__star[data-rating="3.4"] .rating__fill
    width: 68%;
  &__star[data-rating="3.5"] .rating__fill
    width: 70%;
  &__star[data-rating="3.6"] .rating__fill
    width: 72%;
  &__star[data-rating="3.7"] .rating__fill
    width: 74%;
  &__star[data-rating="3.8"] .rating__fill
    width: 76%;
  &__star[data-rating="3.9"] .rating__fill
    width: 78%;
  &__star[data-rating="4"] .rating__fill
    width: 80%;

  &__star[data-rating="4.1"] .rating__fill
    width: 82%;
  &__star[data-rating="4.2"] .rating__fill
    width: 84%;
  &__star[data-rating="4.3"] .rating__fill
    width: 86%;
  &__star[data-rating="4.4"] .rating__fill
    width: 88%;
  &__star[data-rating="4.5"] .rating__fill
    width: 90%;
  &__star[data-rating="4.6"] .rating__fill
    width: 92%;
  &__star[data-rating="4.7"] .rating__fill
    width: 94%;
  &__star[data-rating="4.8"] .rating__fill
    width: 96%;
  &__star[data-rating="4.9"] .rating__fill
    width: 98%;
  &__star[data-rating="5"] .rating__fill
    width: 100%;

  &__chart
    font-weight bold
  &__info
    display inline-block
    font-size 17px
    font-weight bold
    &_favorites, &_compare
      cursor pointer
      padding-left 25px
      position relative
      &:before
        content ''
        position absolute
        left 0
        top 50%
        transform translateY(-50%)
        width 20px
        height 20px
        background-size contain
        background-position center center
        background-repeat no-repeat
    &_favorites
      &:before
        background-image: url('/f/i/icons/heart.svg')
    &_compare
      &:before
        background-image: url('/f/i/icons/compare-gray.svg')

