.rating-stars
  width 200px
  &__inner
    display: flex
    flex-direction: row-reverse
    justify-content: space-between
    & > input
      display none
    & > label
      position: relative
      background-image url("/f/i/icons/star-default.svg")
      background-size contain
      background-repeat no-repeat
      width 32px
      height 32px
      cursor: pointer
      &:hover
        background-image url("/f/i/icons/star-active.svg")
        & ~ label
          background-image url("/f/i/icons/star-active.svg")
    & > input:checked ~ label
      background-image url("/f/i/icons/star-active.svg")

