.repairs
  sectionBottom()
  &__head
    display flex
    flex-wrap wrap
    justify-content space-between
    margin-bottom 36px
  &__title
    font-size 40px
    font-weight bold
    @media $tablet
      font-size 30px
  &__link
    display flex
  &__content
    display flex
    flex-wrap wrap
    justify-content space-between
  &__rooms
    width 430px
    @media $desktop
      width 267px
    @media $laptop
      display none
  &__item-room
    display inline-block
    background-size cover
    width 100%
    height 32%
    margin-bottom 2.5%
    &:nth-last-child(1)
      margin-bottom 0
  &__other
    width 430px
    @media $desktop
      width 260px
    @media $laptop
      width 100%
      margin-top: 20px
      display: flex
      flex-wrap: wrap
      justify-content: space-between
  &__other-head
    font-weight: bold
    font-size: 22px
    margin-bottom: 20px
    @media $desktop
      font-size: 20px
    @media $laptop
      width 100%
  &__item-other
    color $blue
    font-weight: bold
    font-size: 18px
    margin-bottom: 8px
    display inline-block
    border-bottom: 2px solid transparent
    @media $desktop
      font-size: 16px
    @media $tablet
      color: #fff
      background-color: $blue
      width 100%
      padding: 14px 10px
      @media $middlePhone
        min-height: auto
    &:hover
      border-bottom: 2px solid $blue
  &__other-ul
    @media $laptop
      display flex
      flex-wrap wrap
      justify-content right
      flex-direction column
      height 200px
      width 100%
    @media $tablet
      width 100%
      height auto
    @media $middlePhone
      width 100%
    &_child
      @media $laptop
        height auto
  &__other-li
    @media $laptop
      width 32%
    @media $tablet
      width 100%
    &_child
      position relative
      padding-left 26px
      @media $laptop
        width 100%
      &:before
        content '';
        width: 6px
        height 6px
        display inline-block
        border-radius 50%
        background-color $blue
        position absolute
        left 10px
        top 6px
        @media $tablet
          display none

