.result
  &__inner
    position relative
    margin-bottom 60px
    @media $tablet
      position static
      margin-bottom 40px
  &__product
    display flex
    flex-wrap wrap
    justify-content space-between
    position relative
    padding-top 30px
    position relative
  &__item-product
    width 18%
    @media $laptop
      width 22%
    @media $tablet
      width 30%
    @media $phone
      width 48%
    .product-price__inner
      padding-right 0
      padding-left 0
  &__rating
    width 180px
    margin-bottom 10px
    @media $phone
      transform scale(0.7) translateX(-20%)
  &__product-title
    font-size 30px
    padding-top 60px
    font-weight bold
    @media $tablet
      font-size 25px
      padding-top 40px