.reviews
  &__item
    display flex
    flex-wrap wrap
    justify-content left
    padding-bottom 50px
    margin-bottom 50px
    border-bottom 1px solid $superLightGray
    &:last-child
      border-bottom none
      margin-bottom 0px
  &__text
    width 100%
    font-size 18px
    line-height 28px
    margin-top 25px
    margin-bottom 25px
    font-weight bold
    @media $laptop
      font-size 14px
      line-height 23px
  &__author
    font-size 28px
    font-weight bold
    margin-right 28px
    margin-top: auto;
    margin-bottom: auto;
    @media $laptop
      font-size 20px
    @media $tablet
      font-size 16px
    @media $phone
      margin-right 20px
  &__date
    font-size 16px
    color $gray
    margin-right 28px
    margin-top: auto;
    margin-bottom: auto;
    @media $tablet
      font-size 14px
    @media $phone
      margin-right 20px
  &__rating
    margin-top: auto;
    margin-bottom: auto;

