.sale-order
  margin-bottom 15px
  &__title
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  &__text
    font-size: 16px;
    margin-bottom: 5px;
  &__img-pay img
    width 200px
    margin-bottom 5px
  input
    margin-top 20px!important
