.scroll-menu
  margin-bottom 20px
  &__inner
    display flex
    flex-wrap wrap
    background-color $superLightGray
    padding 20px 0
    justify-content center
    @media $tablet
      display block
      overflow-x: scroll
      white-space: nowrap
  &__item-point
    font-size 20px
    display block
    padding 0 20px
    text-transform uppercase
    font-weight bold
    @media $tablet
      display inline-block
