.search
  &__inner
    border 1px solid $lightGray
    border-radius 2px
    padding 10px 60px 10px 10px
    position relative
    @media $tablet
      padding 3px 60px 4px 10px
  &__submit
    position absolute
    right 10px
    top 50%
    transform translateY(-50%)
    width 30px
    height 30px
    cursor pointer
    background-color transparent
    border none
    &:before
      content ''
      position absolute
      width 24px
      height 24px
      background-image url("/f/i/icons/search.svg")
      background-size cover
      background-position center center
      background-repeat no-repeat
      transform translateX(-50%) translateY(-50%)
  &__input
    font-size 18px
    width 100%
    border none
    @media $tablet
      font-size 16px
