.share
  color $blue
  font-size 17px
  font-weight bold
  padding-left 30px
  position relative
  cursor pointer
  &:before
    content ''
    position absolute
    left 0
    top 50%
    transform translateY(-50%)
    width 24px
    height 24px
    background-image url("/f/i/icons/share-blue.svg")
    background-size cover
    background-position center center
    background-repeat no-repeat