.sorting
  border-bottom 1px solid $lightGray
  padding-bottom 10px
  margin-bottom 30px
  &__inner
    display flex
    flex-wrap wrap
    justify-content space-between
  &__found
    font-size 22px
    color $gray
    @media $tablet
      font-size 18px
  &__filter
    @media $tablet
      width 100%
      text-align right
      border-top 1px solid $lightGray
      padding-top 8px
      margin-top 15px
      position relative
      height 26px
  &__button
    font-size 15px
    color $gray
    padding-top 2px
    padding-bottom 5px
    position relative
    margin-right 5px
    padding-right 15px
    @media $tablet
      margin-right 0
    &:last-child
      margin-right 0
    &:nth-last-child(1), &:nth-last-child(2), &:nth-last-child(3)
      @media $tablet
        display none
    &.active
      color #000
      padding-right 16px
    &.descending
      &:before
        content ''
        position absolute
        background-image url("/f/i/icons/descending-black.svg")
        background-repeat no-repeat
        background-size contain
        width 10px
        height 10px
        right 0
        top 50%
        transform translateY(-50%)
    &.аscending
      &:before
        content ''
        position absolute
        background-image url("/f/i/icons/descending-black.svg")
        background-repeat no-repeat
        background-size contain
        width 10px
        height 10px
        right 0
        top 50%
        transform translateY(-52%) rotate(180deg)
  &__filter-button
    display none
    position absolute
    left 0
    top 8px
    @media $tablet
      display block

