.specifications
  &__list
    margin-bottom 50px
  &__item-point
    margin-bottom 20px
    font-size 17px
    line-height 21px
    font-weight bold
    display flex
    flex-wrap wrap
    justify-content space-between
    @media $phone
      font-size 13px
  &__line
    position relative
    flex-grow 1
    &:before
      content ''
      position absolute
      top 15px
      left 0
      border-bottom 1px dashed $superLightGray
      width 100%
  &__point-right
    max-width 70%
    flex-grow 0
    padding-left 10px
  &__point-left
    max-width 28%
    flex-grow 0
    padding-right 20px
  &__text
    font-size 17px
    line-height 24px
    margin-bottom 30px
    @media $laptop
      font-size 14px
      line-height 23px

