.subcategory
  width 25%
  @media $tablet
    width 50%
  &_hidden
    height 0
    overflow hidden
    padding-top 0
    padding-bottom 0
    opacity 0
    transition 0.3s
    &.show
      opacity 1
      padding-top 20px
      padding-bottom 20px