.subscribe
  box-shadow 1px 1px 10px rgba(0, 0, 0, 0.5);
  &__inner
    padding 60px 40px
    @media $laptop
      padding 30px 40px
  &__title
    font-weight bold
    font-size 30px
    line-height 40px
    margin-bottom 60px
    @media $laptop
      font-size 20px
      line-height 26px