.switch-tab
  display inline-block
  padding 7px 16px
  border-radius 100px
  margin-right 40px
  transition 0.3s
  font-size 16px
  @media $phone
    font-size 14px
    margin-right 10px
  &:nth-last-child(1)
    margin-right 0
  &:hover, &.active
    background-color #ECEFFD
  &:hover
    cursor pointer
  &.active
    padding-left 40px
    position relative
    &:before
      content ''
      position absolute
      width 16px
      height 16px
      background-color $blue
      top 50%
      transform translateY(-50%)
      left 16px
      border-radius 50%
