.switch-unit
  display block
  margin-bottom 20px
  position relative
  background-color $blue
  padding 40px 20px 50px 130px
  overflow hidden
  white-space: normal
  @media $laptop
    width 36%
    margin-right: 2%
    display inline-block
    &:last-child
      margin-right: 0
  @media $tablet
    padding: 25px 20px 50px 90px
  @media $phone
    width 55vw
  @media $middlePhone
    width 70vw
  @media $smallPhone
    padding: 25px 20px 50px 70px
  &__title
    color #fff
    font-size 30px
    line-height 26px
    font-weight bold
    min-height 50px
    display block
    @media $tablet
      font-size: 22px
      min-height: 40px
    @media $smallPhone
      font-size: 20px
      min-height: 30px
  &__link
    position absolute
    text-transform uppercase
    color #ffffff
    opacity 0.5
    display block
  &__point-img
    position absolute
    left 20px
    top 20px
    height 100px
    @media $tablet
      left 8px
      height 70px
    @media $smallPhone
      left 1px
      height 60px