.tags
    &__inner
        display: flex
        flex-wrap: wrap
    &__item
        color: #fff
        background-color: $blue
        padding: 3px 5px
        margin-right: 5px
        margin-bottom: 5px
        border-radius: 3px
        text-transform: uppercase
        font-size: 14px