.tooltip
  color #0a0a0a
  &__content
    background-color: rgba(0,0,0, 0.8);
    border-radius: 15px 15px 15px 0px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    margin-left: 30px;
    margin-top: -20px;
    opacity: 0; /* Делаем его прозрачным */
    padding: 10px;
    position: absolute;
    text-decoration: none;
    visibility: hidden; /* И прячем */
    width: auto;
    z-index: 10;
    a
      color #fff
  &:hover .tooltip__content
    opacity: 1;
    visibility: visible;