.top-menu
  display flex
  flex-wrap wrap
  &__inner
    display flex
    flex-wrap wrap
    justify-content space-between
    width 100%
  &__arrow-list
    opacity: 0; /* Делаем его прозрачным */
    visibility: hidden; /* И прячем */
    position absolute
    left 0px
    top 25px
    padding 20px
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1)
    background-color #fff
    z-index 99
    transition 0.6s
    &:hover
      display block
  &__arrow-item
    margin-bottom 17px
    a
      font-size 16px
    &:last-child
      margin-bottom 0
  &__item-point
    font-size 16px
    line-height 16px
    font-weight bold
    margin-right 5vw
    position relative
    cursor pointer
    display inline-block
    @media $laptop
      margin-right 30px
      font-size 14px
    &:nth-last-child(1)
      margin-right 0
    &_arrow
      padding-right 15px
      &:before
        content ''
        width 8px
        height 5px
        position absolute
        right 0
        top 60%
        transform translateY(-50%)
        background-image url("/f/i/icons/arrow-bottom.svg")
        background-size auto
        background-position center center
        background-repeat no-repeat
        transition 0.3s
      &:hover, &.active
        &:before
          transform rotateZ(180deg)
          top 50%
        & .top-menu__arrow-list
          opacity: 1;
          visibility: visible;
          transition 0.3s
    &_city
      color $blue
      padding-left 30px
      &:before
        content ''
        background-image url("/f/i/icons/map-point.svg")
        background-size auto
        background-position center center
        background-repeat no-repeat
        position absolute
        left 0
        top 50%
        transform translateY(-50%)
        width 20px
        height 24px
    &_phone
      font-weight bold
      color $blue
      font-size 24px
      padding-left 35px
      padding-top 3px
      margin-right 2px
      &:before
        content ''
        position absolute
        width 25px
        height: 25px
        left 0
        top 0
        background-position center center
        background-repeat no-repeat
        background-image url("/f/i/icons/phone-call.svg")
        background-size contain
  //&__wrap-point-phone
  //  @media $tablet
  //    margin-top 15px






