.user-menu
  background-color #FFFFFF
  &__inner
    display flex
    flex-wrap wrap
    justify-content space-between
  &__item-point
    font-size 14px
    font-weight bold
    padding 50px 0px 20px 0px
    position relative
    cursor pointer
    display block
    @media $smallPhone
      font-size 10px
      font-weight bold
    &:before
      content ''
      position absolute
      width 32px
      height 32px
      top 10px
      left 50%
      transform translateX(-50%)
      background-size contain
      background-position center center
      background-repeat no-repeat
    &_compare
      &:before
        background-image url("/f/i/icons/compare.svg")
    &_heart
      &:before
        background-image url("/f/i/icons/heart-blue.svg")
    &_user
      &:before
        background-image url("/f/i/icons/user.svg")
    &_basket
      &:before
        background-image url("/f/i/icons/basket-blue.svg")
    &_catalog
      &:before
        background-image url("/f/i/icons/search-catalog.svg")
  &__basket-sum
    position absolute
    top 7px
    left calc(50% + 2px)
    transform translateX(-50%)
    font-size 14px
    font-weight bold
    color $blue
  &__heart-sum
    position absolute
    background-color $blue
    color #FFFFFF
    font-size 12px
    font-weight bold
    width 23px
    padding 5px 1px
    top 5px
    left 56%
    border-radius 50%
    text-align center
  &__wrap-point
    padding-top 10px
