.vacancies
    sectionBottom()
    &__inner
        display: flex
        flex-wrap: wrap
        justify-content: space-between
    &__title
        font-size: 26px
        width: 100%
        font-weight: bold
        margin-bottom: 20px
        margin-top: 40px
        &:first-child
            margin-top: 0