.vacancy-item
    border: 1px solid #f0eff3;
    margin-bottom: 20px
    cursor: pointer
    display: block
    width 48%
    &:hover
        box-shadow: 1px 1px 10px #000;
    @media $tablet
        width 100%
    &__inner
        display: block
        padding: 20px
        display: flex
        flex-wrap: wrap
        min-height: 240px
        justify-content: space-between
        @media $laptop
            min-height: 200px
        @media $phone
            padding: 15px
            min-height: auto
    &__title
        display: block
        font-size: 24px
        font-weight: bold
        margin-bottom: 10px
        @media $laptop
            font-size: 20px
        @media $middlePhone
            width 100%
    &__img
        display: block
        width: 200px
        margin-right: 20px
        background-size: contain
        background-position: center center
        background-repeat: no-repeat
        @media $laptop
            width 100px
        @media $middlePhone
            width 100%
            height 100px
            margin-bottom: 20px
    &__content
        display: block
        width calc(100% - 220px)
        @media $laptop
            width calc(100% - 120px)
        @media $middlePhone
            width 100%
    &__time
        display: block
        width 300px
        border-left: 1px solid #f0eff3
        padding-left: 20px
        @media $tablet
            order: 2
        @media $middlePhone
            border-left: 0
            padding-left: 0

    &__desc
        display: block
        font-size: 16px
        line-height: 20px
        font-weight: bold
        @media $laptop
            font-size: 14px
            line-height: 18px
    &__date
        display: block
        font-size: 14px
        margin-bottom: 20px
        color: $gray
        @media $tablet
            margin-bottom: 10px
    &__title-time
        display: block
        font-size: 18px
        font-weight: bold
        margin-bottom: 20px
        @media $laptop
            font-size: 16px
    &__details
        display: block
        color: $blue
        margin-top: 20px
        font-size: 18px
        font-weight: bold
    
    