.viewed
  @media $laptop
    margin-top 80px
  @media $tablet
    margin-top 60px
  @media $phone
    margin-top 40px
  &__products
    display flex
    flex-wrap wrap
    justify-content start
    margin-left -0.8%
    margin-right -0.8%
    @media $tablet
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      display: block;
      padding-bottom 10px
  &__item-product
    width 18%
    margin-left 0.8%
    margin-right 0.8%
    &:nth-child(5n)
      margin-right 0
    @media $laptop
      width 23%
    &:nth-child(5n)
      margin-right 2.5%
    &:nth-child(4n)
      margin-right 0
    @media $tablet
      width 180px
      display inline-block
      &:nth-child(4n)
        margin-right 2.5%
    @media $phone
      margin-right 60px
  &__title
    font-size 30px
    font-weight bold
    margin-bottom 20px
    @media $tablet
      font-size 25px
    @media $tablet
      font-size 25px
  .product-price__inner
    padding-right 0
    padding-left 0
  .price-rub__inner
    font-size 22px
    @media $laptop
      font-size 20px
  .product-price__buy-button
    margin-right 10px
  .product-price__title
    white-space: normal

