.wishlist
  display none
  position fixed
  bottom 0
  width 100%
  background-color #fff
  z-index 999
  @media $tablet
    display block
  &__inner
    padding: 10px 5%;
  &__btns
    display flex
    flex-wrap wrap
    justify-content space-between
    width 460px
    margin 0 auto
    padding 10px 0 20px 0
    max-width 100%
  &__btn-basket, &__btn-transparent, &__like-button
    font-size 16px
    padding 10px 15px!important
    border-radius 2px
    height 42px
    @media $middlePhone
      height 38px
      font-size 13px
      padding 7px 10px!important
  &__btn-basket
    padding-left 45px!important
    @media $middlePhone
      padding-left 40px!important
    &:before
      left 15px
      @media $middlePhone
        left 10px