.wrapper
  overflow-y hidden
  &_img-full
    height 100vh
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  &_cleaner
    background-position: center 77px;
    background-color #134165
  &_card-product
    @media $tablet
      position relative
      padding-bottom 168px