.bx_filter .bx_ui_slider_pricebar_V{
	height: 3px;
    background-color: #233893;
}
.bx_filter .bx_ui_slider_pricebar_VN{
    background-color: #22222b;
    height: 3px;
}
.bx_filter .bx_ui_slider_track{
	position: relative;
    display: block;
	height: 3px;
	width: 100%;
	margin: 15px 0px;
}
.bx_filter .bx_ui_slider_handle{
    height: 25px;
    width: 25px;
    position:absolute;
    background-color: #fff;
    border-radius: 50%;
    top: 1px;
}
.bx_filter .bx_ui_slider_handle.left{
	transform: translate(-1px, -50%);
}
.bx_filter .bx_ui_slider_handle.right{
	transform: translate(4px, -50%);
}
.bx_filter .bx_ui_slider_handle:before{
	content: '';
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color: #233893;
}
.bx_filter .bx_filter_parameters_box .hide-result,
.bx_filter .bx_filter_parameters_box .hidden{
	display: none;
}

.bx_ui_slider_track > div{
    position: absolute;
}
.bx_filter_search_button{
    width: 100%;
}
.bx_filter_parameters_box{
    position: relative;
}
.bx_filter_parameters_box .bx_filter_container_modef{
    position: absolute;
    z-index: 999;
    display: none;
    left: calc(100% + 20px);
}
.bx_filter_popup_result{
    width: 250px;
    padding: 10px;
    text-align: center;
    border: 1px solid #f0eff3;
    background: #f0eff3;
}
.bx_filter_popup_result a{
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    background: #233893;
    padding: 10px;
    color: #FFF;
}
.bx_filter_search_button{
    display: block;
    text-align: center;
}
.hide{
    display: none;
}
/* .disabled{
    display: none;
} */